[2016-02-15 09:17] mbalex99 opened #1 "Warnings on missing components"
Currently I'm getting some warnings in the component:

[code]

[2016-02-15 09:19] mbalex99 opened #2 "SystemJS shouldn't be supported"
Since I'm using Webpack at the moment, SystemJS seems redundant.
I think that's a project specific choice to be made. Since this is a 3rd party module, shouldn't it just conform to the typescript es6 export format?

[2016-02-15 20:07] Stabzs commented on #1
Thanks for letting me know.  I"ll be updating the directory structure soon to allow for better consumption which will fix this.

[2016-02-15 20:09] Stabzs commented on #2
I'll remove the SystemJS requirement and I'll update the typescript build to use CommonJS.  This is consumable by Webpack and will be far cleaner.

[2016-02-15 22:09] Stabzs commented on #1
This has been rebuilt.  Please get latest package version.

[2016-02-15 22:10] Stabzs commented on #2
angular2-toaster.ts was removed from the build.  angular2-toaster.js now uses es6 module export syntax.

[2016-02-15 22:10] #2 closed

[2016-02-18 18:00] yiqingj opened #3 "Exception when calling ngOnDestroy"
When I navigate away from the component app throws exception complaining dispose() function is undefined:

EXCEPTION: TypeError: this.addToastSubscriber.dispose is not a function. (In 'this.addToastSubscriber.dispose()', 'this.addToastSubscriber.dispose' is undefined)

here is the code location:
https://github.com/Stabzs/Angular2-Toaster/blob/master/src/toaster-container.component.ts#L219

btw tha

[2016-02-18 20:09] Stabzs commented on #3
Great catch!  I was using the pre RXJs 5 syntax.  Future tests will catch those issues :).

Glad to hear you're enjoying it so far!

[2016-02-18 20:09] #3 closed

[2016-03-06 12:22] varadero opened #4 "Can't load angular-toaster with default angular.io "Getting started" html"
Hello,

I have followed angular.io "Get started" guide which notes the following SystemJS usage in index.html:
[code]

With that configuration I built fairly simple working code. Unfortunately, when I try to use angular2-toaster (I have created node_modules/angular2-toaster folder and copy/paste "lib" folder as well as angular2-toaster.js file), I don't know how to change that script in order to l

[2016-03-06 14:25] Stabzs commented on #4
A few notes first.

I highly recommend always installing as a node module directly via npm install.  It seemed as if you weren't and that could create folder hierarchy issues within the package itself if you copy them incorrectly.

The main difference between your setup with or without the map in comparison to my systemjs demo is that you have declared a package.  Once you declare a package, you a

[2016-03-06 15:48] Stabzs commented on #4
Please see the new, additional demo that I added.  The package needs to be mapped AND make sure that you are setting your tsconfig.json build option to system, not commonjs as I was in the original systemjs demo (which still shows how you can manually map commonjs builds via systemjs).

[2016-03-06 16:33] #4 closed

[2016-03-10 02:24] jackhutu commented on #1
The problem still exists.

[2016-03-10 04:13] Stabzs commented on #1
How are you importing the angular2-toaster module?  Could you please provide a small reproducible sample?

[2016-03-12 06:40] #1 closed

[2016-03-16 09:56] truthtaicom opened #5 "Cannot find source file"
[code]

MY app.ts
[code]

My webpack.config :+1:
[code]

[2016-03-18 04:30] Stabzs commented on #5
The "solution" is to check in the ts source files alongside the referenced, js lib files.  I can't find a good standard that suggests the right course of action either way, so as of right I'm leaning towards adding source ts files to the package to fix the warnings.

[2016-03-20 04:28] AlexZhidkov opened #6 "Webpack question"
Hi, I'm new to webpack can you tell me how to link your scc using webpack?

[2016-03-20 13:12] Stabzs commented on #6
I don't use webpack myself so I'm probably not the best resource.  However, regardless of how you "pack" and deliver your source, the consumption of the library should be the same.  You'd want to install the package and import what you need from the `angular2-toaster` module file:

import {ToasterContainerComponent, ToasterService} from 'angular2-toaster/angular2-toaster';

[2016-03-21 01:17] AlexZhidkov commented on #6
Thank you for the answer and your library.

[2016-03-21 01:17] #6 closed

[2016-03-22 02:44] fxck commented on #5
yea happens when using webpack

[2016-03-24 23:37] d1820 opened #7 "Cant run any of your code: exports not defined"
Trying to run your component and get this error right from app start:

[code]

I am including your script in a combined output script named common.js
it is bundled with the following scripts

[code]

Any ideas what could be wrong. from the limited examples provided i have eveything setup as suggested.

My current versions are:
[code]

[2016-03-25 01:19] Stabzs commented on #7
How are you mapping angular2-toaster?  Are you using typescript or are you using another transpiler?  Also, if you could provide a small, working example of the problem (gist, fiddle, plunkr, etc), that would be helpful.

Thanks!

[2016-03-25 01:37] #5 closed

[2016-03-25 03:58] d1820 commented on #7
I am using typescript calling:

Component looks like:
[code]

I add  ToasterContainerComponent to the root app component and add that to the directives and the ToasterService to providers

in my gulp tasks i take your angular2-toaster/angular2-toaster.js and combined it into 1 common.js file that contains all third party components.

I am wondering if its the version of typescript or angular? What

[2016-03-25 04:09] Stabzs commented on #7
As of today, angular2-toaster has been updated to use `"angular2": "^2.0.0-beta.12",`.

I'm confused on your process.  Your import statement doesn't match your combination script.  If you moved away from combining a new export and instead setting up a map in systemjs, your import would be:

[code]

Aside from your import statement being incorrect, it seems that your actual issue is not in importin

[2016-03-25 14:47] d1820 commented on #7
Everything compiles and runs, aside from this control.

I am using SystemJs with Typescript. I moved your file out on its own so its not part of the concatenated js file group any more.

I still get the same error.
looks like it may be related to: https://github.com/frankwallis/plugin-typescript/issues/47

for the gulp concatenating im using
 require("gulp-concat") which is taking the angular2-toa

[2016-03-25 15:32] Stabzs commented on #7
Are you able to put together a small example that reproduces the issue?  I haven't been able to reproduce what you're seeing and if the export syntax needs to be changed, I'd love to be able to test against all conditions.

[2016-03-25 18:04] d1820 commented on #7
I ended up taking parts of yours and the original toastr and writing my own simple version.

Thanks for all the responses.

[2016-03-25 18:04] #7 closed

[2016-03-25 18:10] Stabzs commented on #7
@d1820 Happy to try to help :)

[2016-04-09 08:41] afirdousi opened #8 "Basic Usecase - No Directive annotation found on ToasterContainerComponent"
I tried using angular2-toaster with the most simplest example. Tried exactly the way mentioned in Readme. and got the following:

I downloaded angular2-toaster from npm which gave me `0.1.0-beta.3`

Tried making a very basic use on my app.ts (my root component) as mentioned in examples on Readme.md

Getting the following:

`
EXCEPTION: No Directive annotation found on ToasterContainerComponent
`
B

[2016-04-09 14:30] Stabzs commented on #8
How are you including angular2-toaster in your component?

[2016-04-09 14:49] Stabzs commented on #8
In addition, what versions of angular and typescript are you using?

[2016-04-09 20:36] afirdousi commented on #8
Angular 2 : `2.0.0-beta.11`
TypeScript : `1.8.9`

In my component:

`
import {ToasterContainerComponent, ToasterService, ToasterConfig} from 'angular2-toaster/angular2-toaster';
@Component({
  selector: 'app',
  providers: [ ...FORM_PROVIDERS,EventConfigServ],
  directives: [ ...ROUTER_DIRECTIVES, Dashboard, MainHeader,Navigation, SubHeader, Breadboard, CompHealth, AdminSetting ],
  pipes: [],
  s

[2016-04-09 20:39] afirdousi commented on #8
I have excluded a lot of import statements which are related to my app internally, just to make this concise.

[2016-04-09 23:41] Stabzs commented on #8
Thanks for providing the additional information.

Using `angular2-toaster-0.1.0-beta.3` and the Angular2 and Typescript versions you mentioned, I was unable to reproduce your issue.  I've created a quick gist with the main files used to attempt to recreate the issue.  Please note the tsconfig compilation options.

https://gist.github.com/Stabzs/6d002d2da4d2f7c6081805fb813ee2dd

[2016-04-12 13:24] #8 closed

[2016-04-12 20:18] afirdousi commented on #8
Sure yeah i think I made a mistake copying my code over here. My toaster call was in a method and not in constructor because you are write, no DOMs until you fire ngOnInit or ngAfteViewInit .... I will defnitely check and try your gist and will get back. Thanks for your response, i appreciate it. 👍

[2016-04-12 20:23] Stabzs commented on #8
@afirdousi happy to help.  if you need additional clarification, don't hesitate to ask :)

[2016-04-13 04:46] webdev48 commented on #8
@Stabzs Have you tried using it with webpack ? The example you have given uses System JS but when I try to compile it down with webpack it doesn't work and shows me the exact same error.

Stacktrace

`
EXCEPTION: No Directive annotation found on ToasterContainerComponent
?d41d:73 Error: Uncaught (in promise): No Directive annotation found on ToasterContainerComponent
    at resolvePromise (eval at

[2016-04-13 04:46] webdev48 commented on #8
My tsconfig.json

[code]

[2016-04-13 04:47] webdev48 commented on #8
So this time I tried using it on my most simplest component,

[code]

[2016-04-13 04:48] webdev48 commented on #8
Please let me know if you can spot or suggest anything.

[2016-04-13 04:50] afirdousi commented on #8
@Stabzs Have you tried using it with webpack ? The example you have given uses System JS but when I try to compile it down with webpack it doesn't work and shows me the exact same error.

Stacktrace

[code]

[2016-04-13 04:51] afirdousi commented on #8
My tsconfig.json
[code]

[2016-04-13 04:51] afirdousi commented on #8
So this time I tried using it on my most simplest component,

[code]

[2016-04-13 04:51] afirdousi commented on #8
Please let me know if you can spot or suggest anything. I am looking into what webpack is generating but there is something there.

[2016-04-13 17:05] Stabzs commented on #8
I haven't built a webpack sample yet and there very well could be an issue that is webpack related.  I will try to work on a webpack sample and see if I can't get something working for you.

[2016-04-13 21:52] mikebm opened #9 "Zone.js exception"
When using angular2-toaster with the latest version of angular 2 and zone.js, an exception is thrown when removeToast() is called in the callback of the SetTimeout() function. The reason is because removeToast is calling clearTimeout which the timeout is no longer registered because it already expired.

I resolved this by changing:
 toast.timeoutId = window.setTimeout(() => {
                this.

[2016-04-14 02:50] #9 closed

[2016-04-14 02:52] Stabzs commented on #9
This was an issue with zone.js, not the library.  This is properly fixed in zone.js 0.6.11 and https://github.com/Stabzs/Angular2-Toaster/commit/e83179e37c73a19cee019e72d90074fcf4862d27 addresses it.

[2016-04-14 04:14] Stabzs commented on #8
I've added a webpack example.  Turned out there are a few issues/tricks with the current angular build that make things tricky.

In your root, make CERTAIN that you include `import 'angular2/bundles/angular2-polyfills';`.  If you do NOT, decorators will not be usable and you'll receive an error as such.

This doesn't expressly solve your particular error, but I wasn't able to reproduce it.  Please

[2016-04-15 06:27] ilaborie opened #10 "Error in zone.js: More tasks executed then were scheduled."
When I run a toaster it's working but it is also trigger an error in zone.js
I'm using:
* Angular2 beta14
* angular2-toaster 0.2.0-beta.0
* RxJS 5.0.0-beta.2
* zone.js 0.6.11

[code]

[2016-04-15 09:11] xhite commented on #10
Looks like it's fixed in Angular2 beta 15

[2016-04-15 13:05] jboesch0 opened #11 "No Directive annotation found on ToasterContainerComponen"
Hi, got this error any idea ?

[2016-04-15 13:27] mwoodsmall opened #12 "ReferenceError: Can't find variable: exports - karma"
I'm getting this error when I am running my tests.  I am using [angular2-seed] (https://github.com/mgechev/angular2-seed).

When running ```npm test``` I was initially getting: ```404: /base/angular2-toaster/angular2-toaster.js```

That issue was easily fixed by adding ```'node_modules/angular2-toaster/angular2-toaster.js'``` to my ```karma.conf.js``` file.

After adding that, I began getting the

[2016-04-15 14:30] mwoodsmall commented on #11
can you provide some more information?

possibly some sample code, or maybe a plunkr that reproduces this issue?

[2016-04-15 14:53] Stabzs commented on #11
I suspect you are using webpack.  If you are, it would be related to this issue that I was unable to reproduce: https://github.com/Stabzs/Angular2-Toaster/issues/8

Most likely you are not including a required shim or polyfill that is needed when webpack generates your bundle.

Please provide the smallest possible complete, working example that demonstrates the error.

[2016-04-15 14:54] Stabzs commented on #10
@ilaborie Can you please confirm if the error persists after upgrading to Angular2 beta 15?  This should be an issue with zone.js/Angular2, not the toaster library.

[2016-04-15 15:01] Stabzs commented on #12
Are you loading `'node_modules/traceur/bin/traceur-runtime.js', // Required by PhantomJS2, otherwise it shouts ReferenceError: Can't find variable: require' before attempting to load angular2-toaster?  Also, are you mapping it at all in your systemjs configuration?

[2016-04-15 15:49] mwoodsmall commented on #12
Yes I am doing both of those... my suspicion is that maybe my mapping is wrong. I'll play around with that some more.

[2016-04-15 17:36] mwoodsmall commented on #12
here is my System.config in my test.main.js
[code]

That looks right doesn't it?

[2016-04-15 18:38] Stabzs commented on #12
Yes, the mapping looks correct.

In hindsight, I do remember having a lot of issues implementing the karma test runner.  Note that the https://github.com/Stabzs/Angular2-Toaster/blob/master/karma-test-shim.js used is a bit different from what is used in the seed.  If you follow it, something like

[code]
might be necessary.

[2016-04-16 06:49] ilaborie commented on #10
@Stabzs It's ok, with the beta 15 there is no error.
It was probably an issue fixed with the zone.js 6.10.0

[2016-04-16 13:46] Stabzs commented on #10
Thank you for confirming!

[2016-04-16 13:46] #10 closed

[2016-04-18 13:00] mwoodsmall commented on #12
I haven't verified loading order yet.  Your suspicion sounds reasonable though. I'll take a look into that.

[2016-04-19 12:28] #11 closed

[2016-04-20 04:22] Stabzs commented on #12
If there's anything I can do to help track it down, please feel free to let me know :)

[2016-04-21 18:19] mwoodsmall commented on #12
@Stabzs I got things working.... not super happy about what I ended up with, tho, I will post again tonight with more details

[2016-04-22 11:57] mwoodsmall commented on #12
to get my tests running, I had to add
[code]
to the ```files``` section of my karma configuration file.

Then, in ```test-main.js``` I had to modify ```System.config``` to add path for angular2-toastr and map it.

[code]

Then in the same file, I had to import it using ```System.import```
[code]

[2016-04-24 16:26] Stabzs commented on #12
Thanks for the details and perseverance on this issue.

I'm not certain if there's a better way to structure this or if the library could make this type of testing easier. I'm open to suggestions but I'll be closing the issue for now since I don't think it's necessarily something the library is doing incorrectly.

[2016-04-24 16:26] #12 closed

[2016-04-26 07:44] chriscamicas opened #13 "Global container"
Any chance we could have a global toaster-container (say in the root component), and fire toasts from child components using only the service injection ?
Thanks

[2016-04-26 07:53] chriscamicas commented on #13
My bad... I had the service in both parent and child providers and thus broke the dependancy injection singleton.
Solution: root component
[code]

child component
[code]

[2016-04-30 00:48] Stabzs commented on #13
Can I consider this a non-issue since it seems like you found the solution you were looking for?

[2016-05-02 08:44] #13 closed

[2016-05-02 08:45] chriscamicas commented on #13
Sure, I closed it
Sorry for the disturbance

[2016-05-02 21:18] jonnyklemmer opened #14 "Angular 2 beta 17 console warning"
Hey,

Just wanted to shoot over an issue caused by a "breaking" change in beta 17

The following is the new warning caused by the Angular2-Toaster container component template.

Should be a simple fix & I'd be happy to help with a PR! Thanks!

[2016-05-04 02:31] Stabzs commented on #14
Thanks for the head's up!

I'm currently updating the library to `@angular: 2.0.0-rc.1`.  This and other important upgrade features/functionality will be added with the next release.  I'll leave this open for tracking in the menatime.

[2016-05-08 03:10] #14 closed

[2016-05-09 01:43] haswillb opened #16 "Way too awesome!"
Hey there, I didn't know how else to contact you but I wanted to say thank you! I just upped my app to the Angular 2 rc and totally thought I'd have to rip out the toaster for now. I was really impressed to see that you've already made the move.

Thanks for being an absolute gem, you've made my life very nice!

[2016-05-09 02:10] Stabzs commented on #16
No problem!

Thanks for the awesome feedback!  It's great to hear that the library is being used and abused, especially in new apps staying on the Angular 2 edge.  It's been a bit tricky keeping up with the breaking changes, but I'm happy to do so and keep it as closely behind as possible.

Thanks again for the wonderful feedback and glad it's been so helpful to you and your projects!

[2016-05-09 02:10] #16 closed

[2016-05-14 15:38] BrainCrumbz opened #17 "Is there a version targeting Angular 2 beta.15?"
... as per issue title ... Thank you

[2016-05-14 15:46] BrainCrumbz commented on #17
Nevermind ... it seems like *0.2.0-beta.0* is the answer, at least after package install and running build.

[2016-05-14 16:31] Stabzs commented on #17
You are correct, *0.2.0-beta.0* is the appropriate version for Angular2-beta.*. If targeting beta.17, a warning will be thrown but functionality should be intact.

Keep in mind that Angular2-beta.* will be considered unsupported and bug fixes going forward will only be for RC and beyond. That said, the functionality should be complete enough for your needs while targeting beta versions.

[2016-05-14 16:31] #17 closed

[2016-05-16 08:18] BrainCrumbz commented on #17
Yep. We plan to move on to Angular2 RC or RTM as soon as things settle a little bit, especially on the router side. Now we have a custom router outlet for authenticated/public paths, and it seems there still are moving parts on that side. Thanks for your reply!

[2016-05-16 15:22] Stabzs commented on #17
Completely understandable.  Considering the current state of flux, I can't blame you at all.  Good luck in your future migrations and my pleasure.

[2016-05-20 09:50] michael34 opened #18 "Use the toaster from a service"
Hi,

first of all, thank you for this great library.
I want to show a toast for failed http-Requests thus I want to use it from a service.
Can I do this? Or is there a better way?

Regards

[2016-05-20 09:50] #18 closed

[2016-05-21 16:14] cyberbobjr opened #19 "Error : callback.apply is not a function"
Hi,
i've an error when i use Angular2-toaster with angular2 rc.0. The toaster appears and i have this exception in the console :
EXCEPTION: Error: Uncaught (in promise): TypeError: callback.apply is not a function
[...]

Thanks for your help,
best regards

[2016-05-21 16:51] Stabzs commented on #19
Can you please provide a small complete plunkr that demonstrates this behavior?  Thanks.

[2016-05-22 10:47] dsl-src opened #20 "Cannot read property 'unsubscribe' of undefined!!!"
I use authorization component which checks if user is authorize to see protected page where I have and SimpleNotificationsComponent. In case of unauthorized attempt, the authorization component uses Router and navigates to login page. And in that case I got:

Unhandled promise rejection TypeError: Cannot read property 'unsubscribe' of undefined(…)

which leads to NotificationComponent and:

ngOnDe

[2016-05-22 13:05] Stabzs commented on #20
The listener that is trying to unregister doesn't appear to be part of the toaster component. Can you please create a small plunkr that demonstrates this behavior?

[2016-05-22 18:39] dsl-src commented on #20
I made the Pull Request to fix this problem.
Please accept it. I really like this library but this problem does not allow her to use.

[2016-05-22 21:00] #20 closed

[2016-05-23 01:03] Stabzs commented on #20
This has been published as `0.3.1-rc.1` via https://github.com/Stabzs/Angular2-Toaster/commit/b88eb5a0db0382cb9bf032d19c5b10f8d1eba7d8.

Please note that while coveralls reported test coverage remained at 100%, branch coverage dropped and had to be corrected in the above commit.  Going forward, if you contribute, please make sure to add appropriate tests and regenerate test coverage to ensure prop

[2016-05-23 19:44] #19 closed

[2016-05-24 07:38] nickraphael opened #22 "Getting Error: SyntaxError: Unexpected token <"
Hi,
I've done the basic steps to install the toaster...

1.  npm install angular2-toaster
2. Add the css.
3. import {ToasterContainerComponent, ToasterService} from 'angular2-toaster/angular2-toaster';
4. constructor(toasterService: ToasterService) {
        this.toasterService = toasterService;
    }

But I get the following error...
Error: SyntaxError: Unexpected token <

[2016-05-24 14:14] Stabzs commented on #22
In my experience that error has occurred from bad system.js mappings. Are you using system.js and what does the configuration look like?

[2016-05-25 16:55] mikebm opened #23 "timeout of 0 does not work"
Hello, i have tried to override the timeout for errors to make them sticky and it does not work.

I have tried the below and no matter what, it goes away after 5 seconds.

        var toasterconfig : ToasterConfig = new ToasterConfig({timeout: {error:0 }});
        var toast : Toast = {
            type: "error",
            title: title,
            body: message,
            showCloseButton: tru

[2016-05-25 16:59] mikebm commented on #23
Apparently using -1 for timeout works, so maybe the documentation just needs to be updated?

[2016-05-25 17:22] Stabzs commented on #23
A toastconfig.timeout property of 0 should be perfectly fine.  However, in this case you are assigning the toasterconfig directly to the toast instance, which is incorrect behavior.  It should be bound to your toaster-container.

That said, it looks like there also may be a bug in the check for the presence of the timeout property on the toast which is incorrectly causing it to fallback to looking

[2016-05-25 19:14] #23 closed

[2016-05-25 19:14] Stabzs commented on #23
Fixed in `0.3.2-rc.1`.

[2016-05-26 21:00] #22 closed

[2016-06-04 09:57] friksa opened #25 "Timeout does not seem to work"
Thanks for a great library!

The examples provided are clear and works great!  However, the timeout does not seem to work and the popups do not disappear after 5 seconds.  Even specifying a timeout does not work.

[2016-06-04 10:00] friksa opened #26 "Color change proposed"
This is an awesome project, but the colors can be more modern looking.  It would be nice to use the Bootstrap colors as many project integrate with it already.
http://getbootstrap.com/components/#alerts-examples

Here is my CSS hack to change the colors:
[code]

[2016-06-04 10:23] friksa opened #27 "onActionCallback feature request"
We are using this project as part of a web conferencing product.  When you are busy teaching and someone makes a request to open their microphone, a modal popup message is very disruptive.  Also, you may not want to open their microphone immediately... you may want to finish a thought before accepting their request.

Your toaster popup would be ideal if you could add an action button with a callba

[2016-06-04 14:02] Stabzs commented on #25
What version are you using?  A timeout related bug was fixed in 0.3.2-rc.1. If you are using the latest version, please post a small, complete example that demonstrates the issue.

[2016-06-04 14:05] Stabzs commented on #26
Thank you providing an example. I am not convinced that it is the responsibility of the library to provide additional color schemes as this only adds bloat. I'd need a compelling reason to introduce more overhead when it can be overridden so easily as you described.

[2016-06-04 14:07] friksa commented on #26
Completely agree.  My proposal is not to add multiple schemes, but to change the only scheme to improve the initial experience for the user to an even better one.

[2016-06-04 14:10] friksa commented on #25
I am using the npm version: 0.3.3-rc.1

My code is exactly the examples that you provide on github without any changes to.

[2016-06-04 14:14] Stabzs commented on #26
When it is a single color scheme, "better" is largely subjective. With the bootstrap theme alerts, pastel is in vogue and they are not nearly as prominently featured.  That may be desirable but it also might not be.  In either case the change proposed is based entirely on subjective preference.

[2016-06-04 14:15] friksa opened #28 "Need a programmatic way to remove a toast"
toasterService.pop returns a toast object.

I need a way to close / remove that toast at a later time when it is not applicable anymore.  There might be multiple toasts displayed, but I need to remove a specific item.

For example, the toast may indicate that someone is requesting that their microphone is opened, but then change their mind.  So it is important to remove the toast when it is not va

[2016-06-04 14:18] friksa commented on #26
Absolutely agree.  It is subjective and it is your call whether most people will prefer the  bootstrap color scheme or not.

[2016-06-04 14:18] #26 closed

[2016-06-04 14:21] Stabzs commented on #25
You'll have to be more specific.

If you abstain from providing any timeout parameter whatsoever, the default will be 5000ms and toasts will self-dismiss.  You can see an example of that here https://github.com/Stabzs/Angular2-Toaster/tree/master/demo/systemjs.  The second container `ToasterConfig` does not have a timeout property and any toasts in container 2 automatically dismiss after 5 seconds

[2016-06-04 14:26] Stabzs commented on #28
I might be missing something, but `toasterService.clear` does precisely this.

    `clear(toastId?: string, toastContainerId?: number)`

Since you have the returned toast object, whenever you need to remove the toast, use that object's parameters to call clear.

[code]

[2016-06-04 14:27] friksa commented on #28
Awesome!  That was not documented on the github README.

[2016-06-04 14:27] #28 closed

[2016-06-04 14:30] Stabzs commented on #28
You are absolutely right, it is not! My apologies for that oversight.

I'll make sure to add an example in the near future.  Thank  you for pointing it out.

[2016-06-04 14:57] friksa commented on #25
That example does not have an issue with the timeout.  Even when I upgrade it to the latest version of your library it works good.  However, when I use your example code in our larger project, I have the issue with the timeout.  I will dig around more and let you know what I find, but for now I will close the issue.

[2016-06-04 20:57] Stabzs commented on #27
This is certainly a very desirable type of behavior, but i do not believe that additional API expansion is needed.

Such behavior can be added via `bodyOutputType: Component`.  This body type is specifically designed to allow you to render components as the body of the toast.

Why is this more desirable than what you've described?

- It keeps the API clean..less parameters means less needed docume

[2016-06-05 16:00] friksa commented on #25
There is definitely an issue when everything is not defined in a single file as with your examples.  I am using an Angular seed project where things are more complicated.

These issues are related to zone.js

These changes to your ToasterContainerComponent fixes it for me:
[code]

[2016-06-05 16:05] friksa commented on #25
BTW, I see that popAsync has the issue... the toast is never displayed.

You can apply the same fix the the setTimeout used by popAsync.

[2016-06-05 16:30] Stabzs commented on #25
I disagree with the need for this change. If zones aren't working properly, that is systemic of your calling code, not the library. Monkey patching a forced zone call because of calling code not properly trigger zone change detection is certainly a code smell.

How are you calling the toasts?  Are you calling them from within a socket provider running outside of a zone or on a non-patched call?

T

[2016-06-05 16:35] friksa commented on #27
Completely agree with your logic.  This almost works for me... I am just missing a small piece of know-how.

This is my class defined in a separate file:
[code]

How do I pass the input properties and listen to the events?
[code]

It seems like it would be nice to support BodyOutputType.Template as a bodyOutputType:
[code]

[2016-06-05 16:40] friksa commented on #25
I buy that.  I am calling them on a mouse click right now.

I am using this seed project and there are many unknowns to me :)
https://github.com/NathanWalker/angular2-seed-advanced

I will have to learn more about the project and zone.js so I can report the issue to them.  Thanks for your advice!

[2016-06-06 04:21] Stabzs commented on #27
I've been spending some time thinking about how to handle this.

I could be completely wrong, but so far my understanding of Angular 2 is that what you've described as a "Template" option is pretty much impossible.  There's no such thing as an arbitrary `$compile` service anymore which makes rendering any directive from a string impossible.  The `ComponentResolver` service doesn't offer that type

[2016-06-06 08:21] friksa commented on #27
I agree that this is putting toasts on steroids and it is a great opportunity to reduce the use of modal alert popups.

Does something like this help?
http://stackoverflow.com/questions/34635269/how-to-pass-input-params-to-an-angular-2-component-created-with-dynamiccompon

This project might hold some clues too:
https://github.com/dougludlow/ng2-bs3-modal

Otherwise, the original actions idea seem

[2016-06-06 17:49] friksa commented on #25
Turns out that the project ( https://github.com/NathanWalker/angular2-seed-advanced ) does not use default change detection strategy.  Instead it is using:
ChangeDetectionStrategy.OnPush;

Once I changed that to ChangeDetectionStrategy.Default, everything is working great.

[2016-06-06 17:52] Stabzs commented on #25
Ahh that explains it!  Great find!

[2016-06-07 08:45] friksa commented on #25
@Stabzs you may want to document that this project requires ChangeDetectionStrategy.Default.  There is definitely a push to use ChangeDetectionStrategy.OnPush for performance reasons in more complex/larger projects.

Alternatively, you could consider this a feature request to make this project work in all scenarios with this.ref.markForCheck();  I realize that the zone.run() is not needed though a

[2016-06-07 21:35] Stabzs commented on #27
Thanks for both links.

The case you're describing is somewhat unique, since you want the ability to control inputs and outputs.  In the first example, this only works if you have the same inputs/outputs to create every time, based on the same parameters.

The second doesn't seem to be passing data via any sort of input/output context.  So I don't think that's a good strategy.

The original action

[2016-06-09 13:51] theunreal opened #29 "Custom image on toast"
As I've checked in the inspiration example located at http://codeseven.github.io/toastr/demo.html,
using <img src=""> inside the toast content shows an image. While I've been trying to do that in this module, I got the following:
![image](https://cloud.githubusercontent.com/assets/6171883/15931938/690b642c-2e62-11e6-89b4-c7ea437eb368.png)

Is there any option to implement images in a toast or this

[2016-06-09 14:30] Stabzs commented on #29
Most likely you are using the default `BodyOutputType`.  You can render html (which is all you are doing here) by using the `BodyOutputType.TrustedHtml` option.  (see https://github.com/Stabzs/Angular2-Toaster#body-output-type)

If you so desired, you could also build this into a reusable component via `BodyOutputType.Component`, but that is probably overkill for this scenario.

[2016-06-09 14:34] theunreal commented on #29
Hey @Stabzs , I've been trying to use it but the toast show only title without any body. Tried it with the example..
[code]

All I see is "Title text"

[2016-06-09 14:35] Stabzs commented on #29
@theunreal What version are you using?

[2016-06-09 14:51] Stabzs commented on #25
Great points.

After additional consideration, it seems that this is a reasonable scenario for explicitly marking for a change detection check.  It does not seem fair or reasonable to have the consumer take on this responsibility when the library can provide the functionality.

Also, considering that an explicit call to `zone.run()` is not required (I came to the same conclusion :)), this is no lo

[2016-06-09 15:02] theunreal commented on #29
Thank you, I have used an old version of this module. It works great.

[2016-06-09 15:02] #29 closed

[2016-06-15 13:38] theunreal opened #30 "Placing custom bottom with method call in the toaster body"
I tried the following code:

[code]

Unfortunetly the click event not working, so my question is, if there is any way to make custom button with some action in a toast body?

[2016-06-15 13:55] Stabzs commented on #30
Make sure you are using the most recent version `0.3.4-rc.1` since there were css changes that had to be made to prevent the image from overlaying the body and preventing click events.

`TrustedHtml` is not the correct `BodyOutputType` for any sort of eventing, because Angular 2 has not been made aware that there is anything to register.  It is simply rendering html.

You need to use the `Componen

[2016-06-15 14:11] #30 closed

[2016-06-16 19:05] jFensch opened #31 "No Directive annotation found on ToasterContainerComponent"
Upgrading to Angular 2 rc.2 causes me to start getting the following error.

Reproduced in new clone of https://github.com/AngularClass/angular2-webpack-starter when following the _Getting Started with Default Configuration_ instructions.

[2016-06-16 20:03] Stabzs commented on #31
Angular2-Toaster is not yet upgraded to rc.2.  Thank you for reporting, I'll investigate.

[2016-06-16 20:33] angusoid commented on #31
Same issue here

[2016-06-17 07:00] brosenberger opened #32 "update to angular2 rc2"
please update dependencies to angular2 rc2

[2016-06-17 07:24] friksa commented on #27
How about adding a free form data object?  Something like this:
[code]

Then the component could be something like this:
[code]

[2016-06-17 09:07] dagstuan commented on #32
#33

[2016-06-17 14:17] #25 closed

[2016-06-17 14:17] Stabzs commented on #32
Closed via https://github.com/Stabzs/Angular2-Toaster/pull/33

[2016-06-17 14:17] #32 closed

[2016-06-17 14:19] Stabzs commented on #27
In this case how would the data know to register the action emitter?  In addition, is there a large difference between this and a shared service?

[2016-06-17 14:53] friksa commented on #27
You would register the listeners before passing it into the data structure.  A shared service is cleaner for most situations though.

The real challenge is getting dynamic data to the component.  I see that you updated the example TestComponent4 to take dynamic data... but I am not sure where you actually provide the data based on different users making the request.  That will totally solve the is

[2016-06-20 23:47] JayKan opened #34 "Template Parse Errors"
![template_parse_errors](https://cloud.githubusercontent.com/assets/1400300/16213731/89f379ca-3706-11e6-943d-6e785fdd6bce.png)

Any ideas on how to resolve this?

This template parse error is from `ToastComponent`@7:16

Thanks a lot for your help!

Cheers,
Jay Kan

[2016-06-20 23:56] Stabzs commented on #34
It looks like you're using the latest version without using angular 2.0.0-RC.2. If you need to use rc1 please downgrade angular2-toaster to 0.3.4-RC.1.

[2016-06-21 00:01] JayKan commented on #34
@Stabzs,

I'm actually running on RC1, let me try to update to angular2-toaster@0.3.4-RC.1 to see if I get those errors resolved.

[2016-06-21 00:09] JayKan commented on #34
@Stabzs,

After downgrading to angular2-toaster@0.3.4-RC.1, it works like a charm, thanks for your help!

Cheers,
Jay Kan

[2016-06-21 00:25] Stabzs commented on #34
No problem!

[2016-06-21 00:25] #34 closed

[2016-06-21 13:47] gurdilou opened #35 "ClickHandler is called twice on exit button press"
Hi,

I try to handle toast clicks, so I attached a function to  the ClickHandler  :

[code]

But the function is called twice when the user press the exit button.

Have I missed something ?

[2016-06-21 21:48] tchoulihan opened #36 "No Toaster Containers have been initialized to receive toasts."
I'm using angular2-toaster with angular-2 rc.2, and I get this error above. I have an example set up exactly like that on the front page, with the `<toaster-container></toaster-container>` in the template.

[2016-06-21 21:50] tchoulihan commented on #36
Never mind, figured out this one was because I was trying to do it on `ngOnInit`, instead of `ngAfterViewInit`.

[2016-06-21 21:50] #36 closed

[2016-06-21 23:01] Stabzs commented on #35
The above sample looks reasonable.

Could you please create a plunker that demonstrates the behavior?  I can't reproduce it.

[2016-06-22 07:48] justme1 commented on #31
same issue here

[2016-06-22 08:28] gurdilou commented on #35
Sure.

http://plnkr.co/edit/BhaQ6VypGntO83FHXVOV?p=preview

[2016-06-22 11:16] jFensch opened #37 "RC.3 Support"
Please update dependencies.

[2016-06-22 18:44] Stabzs commented on #31
Could you please provide an example of your webpack config?

[2016-06-22 18:50] jFensch commented on #31
So the issue at hand is the your referencing a specific release of
Angular.  Currently, when your package is restored from npm, @angular/*
RC.2 is dropped into node_modules of angular2-toaster.  Perhaps a better
solution is updating package.json to depend on ^2.0.0-rc.X so that the
Angular dependencies can float as consumers of this package upgrade.

Regarding webpack.config - refer to comment whe

[2016-06-22 19:05] Stabzs commented on #31
@jFensch that's a reasonable solution.  I'm assuming that justme1 has run into the issue due to the RC 3 update.  I'll apply this change to the RC.3 update for angular2-toaster.

[2016-06-22 19:13] justme1 commented on #31
@Stabzs indeed - solution suggested sound decent.

Thanks

[2016-06-23 16:02] MikeLallemont commented on #37
Yes please there are critical fixed in Angular RC3 that I need but toaster crashes. Thank you!! :)

[2016-06-23 16:20] #31 closed

[2016-06-23 16:20] #37 closed

[2016-06-23 16:46] yahyaKacem opened #38 "import CORE_DIRECTIVES's missing"
Missing import { Core_Directives } from '@angular/common'; [line 44](https://github.com/Stabzs/Angular2-Toaster/blob/master/src/toast.component.ts#L44)

[code]

[2016-06-23 16:50] Stabzs commented on #38
Most likely a duplicate of https://github.com/Stabzs/Angular2-Toaster/issues/34

[2016-06-24 15:31] #38 closed

[2016-07-07 23:06] MikeLallemont opened #39 "Update to Angular RC4"
Can you please update? I appreciate it very much!

[2016-07-08 02:31] #35 closed

[2016-07-08 02:31] Stabzs commented on #35
Apologies for the delayed fix. This was a bug only when the ClickHandler evaluated to false and the toast was not removed.

This will be included in the next release.

[2016-07-08 02:52] #39 closed

[2016-07-11 13:28] brianlowe commented on #36
I'm getting the same error reported in the console when I try to use pop(message: string), but I can't see anything in the docs telling me I need to initialize the container, or how I might do such a thing, or when.

tchoulihan is doing something in the ngAfterViewInit event, but what?

[2016-07-11 13:46] Stabzs commented on #36
@brianlowe can you please provide a bit more context on what you are doing and how your code is structured?  Most likely you are calling pop from the constructor, before the container is rendered to the DOM.

[2016-07-11 14:03] brianlowe commented on #36
@Stabz - thanks for a rapid response!

I'm just beginning with Angular2 (no experience of Angular 1) so my app is quite simple so far. I have a component with a clickable button wired to a handler that just raises an alert in the browser. Obviously that's not going to be testable so I need to replace it with a toaster.

So far I've added the `import { ... } from ... ` line at the head of my compon

[2016-07-11 14:54] brianlowe commented on #36
Hmmm, my layout has the component's markup as a child of the <body> element, but in the examples the component's tag is always given inline with the calling element's template. Maybe the initialization I'm looking for is automatic when the toaster component is found and parsed within my view...

I've tried moving my `<toaster-container>` tag to include it as part of the markup loaded by my compone

[2016-07-11 16:07] Stabzs commented on #36
@brianlowe It is difficult to pin down the exact cause of the issues you are having without a plunker, so if you continue to have difficulties, please create one and I'd be happy to walk through it.  That said, here are a few observations:

- The pop call is incorrect and will cause issues.  The first argument for `pop()` is the toast type, not a title or body.  As a result, if it tries to map the

[2016-07-12 12:08] brianlowe commented on #36
@Stabzs Thanks for this. I've reworked my code a little so I now have the latest angular (rc4) and dependencies, and by passing the correct arguments in to the pop() method I can get a toast to appear in my page.

Now my problem is with the configuration.

When I include `[toasterConfig]="toasterConfig"` in my tag errors are thrown in `ng_class.ts` line 111 where it tries to trim a className but c

[2016-07-12 14:44] brianlowe commented on #36
So, if I create a config object with
`this.toasterConfig = { positionClass: "toast-top-full-width" }`
then TypeScript is happy because the object meets the ToasterConfig interface definition, but deep into the generated ToasterContainerComponent.template.js code it finds an array
`["toast-top-full-width", undefined]`
and passes each member to ng_class_toggleClass, which crashes out trying to apply

[2016-07-13 21:04] emalmbor opened #40 "route navigate after pop"
I have a situation where I issue the pop, and then issue a route navigate.  The toast message doesn't display with the route.  When I remove the route it works. Any ideas how to get around this?

[2016-07-13 21:23] Stabzs commented on #40
How is the container related to the routable views?  Is it located outside of the router?

[2016-07-14 16:39] emalmbor commented on #40
Thanks for your reply!  It turns out we’re changing our routing.  I’ll let you know if the problem goes away after the change. Thanks again!

From: Stabzs [mailto:notifications@github.com]
Sent: Wednesday, July 13, 2016 4:23 PM
To: Stabzs/Angular2-Toaster
Cc: Malmborg, Eric; Author
Subject: Re: [Stabzs/Angular2-Toaster] route navigate after pop (#40)

How is the container related to the routable v

[2016-07-14 16:56] Stabzs commented on #40
You're welcome!  I'll close this for now but if it is still an issue after your routing changes, please feel free to reopen the issue.

[2016-07-14 16:56] #40 closed

[2016-07-18 12:21] Insidexa opened #41 "TypeError: Cannot read property 'pop' of undefined"
[code]

error on line this.toasterService.pop(

[2016-07-18 15:04] Stabzs commented on #41
You are incorrectly mixing traditional `function` callbacks with class level callbacks.

Line `'client_test_not_found': function (response) {`

should be `'client_test_not_found': (response) => {`

to avoid `this` from incorrectly pointing to the wrong context.

[2016-07-18 16:36] #41 closed

[2016-07-18 18:27] Insidexa commented on #41
ooohh, thank you, I just started using angular2, thank.

[2016-07-18 18:45] Stabzs commented on #41
Not a problem!  It's a universal typescript/class/es6 concept and very easy to overlook at the beginning :).

[2016-07-18 18:52] Insidexa commented on #41
excuse me, the problem persists
[code]
Cannot read property 'pop' of undefined
I do not understand something

[2016-07-18 18:59] Stabzs commented on #41
Are you able to debug both the constructor and this method?  Make sure that it is properly set in the constructor.  If it is not, that is your issue.  If it is but not in your callback, it is because something else is pointing to the wrong context and you'll need to fix that.

If you need additional help debugging, please create a plunker and I'll be happy to take a look.

[2016-07-18 19:16] Insidexa commented on #41
[my-app on my server](http://jashka.asuscomm.com/testwebservice/client/)

[2016-07-19 18:08] Stabzs commented on #41
It looks like you've currently removed angular2-toaster from your project.  If you need further assistance down the road, please don't hesitate to return to this thread.

[2016-07-20 05:23] Insidexa commented on #41
okey, i restore your toast component

[2016-07-21 05:30] Insidexa commented on #41
Thank you for your time, it was the fact that it's onMessage callback WebSocket. decided to issue a definition of the method `onMessage = (event: MessageEvent) => {`

[2016-07-22 10:06] CaselIT opened #42 "Add removedToast observable"
First of all thanks for this useful library!

It would be nice to have an observable in the `ToasterService` which notifies when a toast has been removed, regardless of the reason. It would the opposite of the `addToast` observable

I you like I could make a pr with this feature.

[2016-07-25 10:42] EricSch opened #43 "Bundle? Package?"
Hi, thanks for this component.
Seems to be useful.
But as it is, we can't use is, because it is missing a package / bundle, which we could easily include in our project. We aren't using Webpack and we aren't deploying Node modules.

Would be great, thanks.

[2016-07-25 13:59] Stabzs commented on #43
Happy to provide it.

How are you building your Angular2 apps today if not with a module loader?  Are you using the cli or systemjs?

[2016-07-26 13:21] EricSch commented on #43
Thank you!
with gulp we grab and package all the files necessary for deployment and are loading them via systemjs. Tried webpack, but didn't work like we needed.

[2016-07-26 15:16] Stabzs commented on #43
Thanks for the clarification!

SystemJS should work fine as long as you use gulp to include the entire lib directory.  I'm hesitant to add a concatenated file since it is deliberately built to allow repacking by whatever module loader is chosen for a project.  Including an additional file would just add more bloat to the package for nearly all use cases.

[2016-07-26 16:28] EricSch commented on #43
Yes, this was my first try. But didn't work for me. All my other includes have System.registerDynamic wrapper around the function body, but this is missing in the lib files.
I could try to add them as package via SystemJS like the angular files. But this means, I have to copy always all the files in a separate directory, and can't bundle and minimize them.

So it would be really helpful to have a

[2016-07-27 11:21] EricSch opened #44 "Icon class names"
I have a suggestion.
Your icon classes are all named **icon-***
Would be possible to rename them to a more specific name?
Many font libraries out there are already using **icon-**, so there will be conflicts with existing class names. So I have now to rename your classes in our app.

Thanks

[2016-07-27 16:35] Stabzs commented on #44
I understand the issue completely.  Thanks for bringing it up.

To clarify, the icons are VERY specific and they are exactly that...icon for the error case, icon for the success case, etc.

However, looking over the CSS, I noticed I failed to include any specificity on the icon classes, which is a complete miss and should be addressed.

This would fix the issue of the Angular2-Toaster css overwrit

[2016-07-27 19:11] EricSch commented on #44
Thanks for answering.
I understand that it would be a breaking change. as workaround for me, I could set my own classes, I think.
And I had the opposite, the toaster css was overwritten by the icon moon-fonts. They use also the classes like "moon icon-info", I need to check, if they have any specificity defined. This would be a fail.

[2016-07-28 13:16] CaselIT commented on #42
Any update @Stabzs ?

[2016-07-28 23:22] Stabzs commented on #42
Thanks for the feedback and the request!

Absolutely, I can see the value in this. What would be broadcasted would be the toastId and the containerId. There is obviously a case where multiple events would be broadcasted for a toast that exists in multiple containers. I can look at adding this soon.

[2016-07-29 05:57] CaselIT commented on #42
Great, Thanks.

[2016-08-02 14:41] Stabzs commented on #42
@CaselIT I haven't had time to get to this yet.  If you are interested in creating a PR with tests, it would definitely help get this completed sooner :).  Else I'll get to it when I can.

[2016-08-02 15:09] CaselIT commented on #42
I'll look into it.
Thanks

[2016-08-02 15:19] CaselIT opened #45 "Toast TapToDismiss does not override the global config"
If a toast defined a different value for `tapToDismiss` in its `toasterConfig` compared to the global configuration, this is ignored.

My use case: I normally do not want to allow tap To Dismiss, but on some toasts I would like to perform an action on click, but is currently not possible since `tabToDismiss` is set to `false`.

Alternatively, execute the `clickHandler` when present even if `tabToD

[2016-08-03 10:37] yahyaKacem opened #46 "please, add online demo or a plunker example."

[2016-08-08 16:36] Stabzs commented on #45
Correct, this behavior is currently not implemented.

The `toasterConfig` property attached to a toast instance should be treated as read-only.  It is not exposed as part of the modifiable API since it is only attached AFTER the toast instance has been passed into the respective container.  As a result, you should never attempt to modify configuration via that property.

Now, that said, your reque

[2016-08-08 17:05] CaselIT commented on #45
At the moment the workaround I'm using is to set `tabToDismiss` to true when I want to enable the `clickHandler` on the toast, and set it to the previous value once the toast is no longer shown.

I think that this could be changed be to allow the override of the global config on a per toast base so that the resulting configuration is the join of the two.
I realize that probably this solution is th

[2016-08-08 18:07] Stabzs commented on #45
I'm glad you have a workaround for the moment, but that's obviously far from optimal and should be addressed.

As for your suggestion, I'm not certain I agree.

A number of the configuration properties are to be used by the container, not the toast itself.  I believe the following list is exhaustive:

[code]

Blindly overriding any of these defaults could cause the toast pop instance to not render

[2016-08-09 07:47] CaselIT commented on #45
I see your point. I had not though about the container configurations options. Considering them I agree with you. An alternative could be to separate them in container configuration and toast configuration. An option to reduce breaking changes could be to ensure that the toast configuration is a subset of the complete container config, so that only the relevant option can be overridden by the toas

[2016-08-13 16:40] Stabzs commented on #45
I apologize for the delayed response.  I've been considering the current alternatives as well as exploring new alternatives.

I think you've summed up the two potential options quite well.

I am concerned that the first option would certainly introduce confusion into the API and cause "buggy" interactions since it would be difficult to use in conjunction with `tapToDismiss` in all scenarios.

On t

[2016-08-13 16:57] friksa commented on #45
Instead of adding more parameters that might not be used by everyone, it might make sense to use an options parameter instead.  This allows a javascript object that will allow future extensions without api breakage.  Also, it makes it easy to ignore options not used without having to specify many null params.  And the code is more self-documenting.

[code]

You could also roll isCloseButton into i

[2016-08-13 17:23] Stabzs commented on #45
@friksa great suggestion.  Perhaps it can be taken one step further.

If the current `isCloseButton` parameter instead becomes a union type (for now), `isCloseButton` can be included into the options object while preserving backwards-compatible behavior.

'(toast: Toast, isCloseButton?: boolean | IClickOptions , options?: IClickOptions) : boolean`

This could be over-complication for the sake of p

[2016-08-13 17:47] friksa commented on #45
Absolutely.  That is what I tried to say with old javascript terms (including isCloseButton in it and detecting boolean vs object).  Union type is the TypeScript way and I am still learning a lot of new terms :)

[2016-08-13 17:47] Stabzs commented on #45
@friksa Actually, I take this back.  It can all be encapsulated into the click options since `isCloseButton` is an internally used parameter; it isn't part of the public API.

This seems like the most reasonable approach.  Thank you for the object options suggestion :)

[2016-08-13 17:48] Stabzs commented on #45
@friksa It's a great suggestion and probably the safest way forward for now.  Thank you for the options object suggestion!

[2016-08-13 18:24] CaselIT commented on #45
I may be missing something, but is't it the library who calls the `clickHandler`? How can I pass `true` to the new option to it?

And the whole problem is that at the moment the library does not call it when `tapToDismiss` is set to `false`.

Again sorry if what I wrote does not make sense.

[2016-08-13 18:44] Stabzs commented on #45
@CaselIT You aren't missing anything at all.

Currently, the library calls the click event which in turn invokes the click handler if it is present.  In order to make something like this work, the toast creation options would need to be expanded.

Currently, when providing a click handler, it is passed in the following manner:

        let toast: Toast = {
            type: 'info',
            cli

[2016-08-13 21:04] CaselIT commented on #45
@stabzs I think that would work. :+1:
It's just quite similar to the other proposal.

How about a function instead of `clickOptions.alwaysCallClickHandler`, something like `callClickHandler(isCloseButton: boolean): boolean`?

Just food for thought.

[2016-08-14 00:43] Stabzs commented on #45
@CasellT I'm not sure I follow. Are you suggesting that instead just provide a callback function on the options that could be hydrated by the user if they choose?

[2016-08-14 07:06] CaselIT commented on #45
Yes, that could be an option. The library could provider the default implementino with the same behaviour as now, but an user could change it to adapt it to its needs. In the proposed function above I forgot the toast argument.

A possible implementation could be
[code]

[2016-08-15 16:56] gvsdan opened #47 "Update to angular RC5 ?"
I don't know if maybe we need to update toaster in to a module?

[2016-08-19 13:03] bernhard-niedermayer commented on #47
see #48

[2016-08-21 17:22] gvsdan commented on #47
Ok. i'm goin to close this issue

[2016-08-21 17:22] #47 closed

[2016-08-24 23:10] kreed-rmn opened #49 "0.3.6-rc.5 not published to NPM"
The current documentation for this module indicates the current version is 0.3.6-rc.5, however that version is not published to the public NPM registry.

Can this be published to NPM?

[2016-08-25 00:08] Stabzs commented on #49
This was pending a documentation change around NgModule inclusion, which has been added.

This is now published to NPM under version `0.3.6-rc.5`.

[2016-08-25 00:08] #49 closed

[2016-08-25 00:08] Stabzs commented on #47
This is now published to NPM under version `0.3.6-rc.5`.

[2016-08-25 03:52] Stabzs commented on #45
@CaselIT I think we came full circle a bit too much on this.

In the above proposal, there's additional complexity in the `callClickHandler` function.  What would it be evaluating?  It seems like this is probably too much complexity and it doesn't accomplish much.

I think either it needs to be a simple flag indicating whether or not to call the click handler or move back to two click handlers.  T

[2016-08-25 03:59] Stabzs commented on #43
@EricSch sorry for the lengthy delay on this issue.

Adding additional tooling to support minification doesn't currently seem to be common in the Angular 2 plugin ecosystem.  In addition, it would add additional complexity to the build and maintenance process for the library.

In an effort to make consumption easier, I've added a very simple bootstrapped plunker demo that may provide additional di

[2016-08-25 11:13] bobrosoft opened #50 "Angular2-Toaster installs own version of Angular 2"
Hi there!
Can you tell me why Angular 2 and RxJS is in "dependencies" instead of "peerDependencies" as it should be? Angular2-Toaster goes as a "plugin", not standalone service, right? Check https://github.com/valor-software/ng2-bootstrap/blob/development/package.json for example.

[2016-08-25 13:19] Stabzs commented on #50
There are plans to move these dependencies to peerDependencies per the conversation in #48. However, currently peerDependencies breaks the Karma test shim configuration. Once that is patched, the dependencies will be updated to peerDependencies.

Thanks for raising this issue. This is an important priority and something that needs to change in the very near future.

[2016-08-25 14:00] kreed-rmn commented on #49
@Stabzs Looks like 0.3.6-rc.5 is missing the toast.module module.

ERROR in ./~/angular2-toaster/angular2-toaster.js
Module not found: Error: Cannot resolve 'file' or 'directory' ./lib/toast.module in ~/src/main/webapp/node_modules/angular2-toaster
 @ ./~/angular2-toaster/angular2-toaster.js 7:22-51

[2016-08-25 14:44] Stabzs commented on #49
Correct, it is.  The package was improperly built before publishing.

Please upgrade to last night's new build 0.4.0-rc.5.  It includes the toast.module, but it also renames the toast.module to toaster.module to be more consistent with the rest of the top-level APIs.

[2016-08-28 16:31] #43 closed

[2016-08-29 08:03] CaselIT commented on #45
@Stabzs I agree with you. I thought again about it and it's unnecessary complex the function option.
The other alternatives are both simpler.

[2016-08-29 22:17] gvsdan commented on #47
@Stabzs  thanks

[2016-08-29 22:21] Stabzs commented on #47
@gvsdan You're welcome. There was a missing file in the above published version. Please use 0.4.0-rc.5.

[2016-08-31 09:18] levjad opened #51 "NgModule Documentation not complete/right?"
Maybe I'm missing something but I guess the documentation is wrong. First  you should import Component to use the @Component Annotation. Then it's always saying that ToasterModule "has no exportet member".

Am I missing something?

[2016-08-31 12:30] Stabzs commented on #51
You are correct, component would need to be imported as well. I did not add that to the documentation because I didn't want to detract from the actual ngModule inclusions, but apparently that just caused confusion so I will update it.

Make sure you are using the latest version: 0.4.0-rc.5. The previous version had an incorrectly build package.

Finally, please see http://plnkr.co/edit/hkENUhos6q9

[2016-09-01 09:57] dagstuan opened #52 "Incompatible with RC.6"
The package is currently incompatible with RC.6 of Angular 2 due to the removal of `ComponentResolver` and the renaming of `DomSanitizationService` to `DomSanitizer`

[2016-09-02 03:49] #50 closed

[2016-09-02 03:49] #51 closed

[2016-09-02 03:49] #52 closed

[2016-09-02 04:24] klaascuvelier commented on #52
@Stabzs thanks for the quick fix.
Seems to work fine now, but the build fails

[2016-09-02 13:37] Stabzs commented on #52
Yes there are issues getting the upgraded tests and test structure to build on CI, although they run correctly locally and coverage remains at 100%. I felt it was more important to deliver RC6 functionality than to hold off working on CI. Corrections to the test build will be added soon.

[2016-09-02 13:39] Stabzs opened #54 "Fix CI Build"
Update test structure to run correctly on CI.

[2016-09-03 08:39] robinkedia opened #55 "Error: Unexpected value 'ToasterModule' imported by the module 'AppModule'"
When compiling with @Angular/Compiler-cli it throws Error: Unexpected value 'ToasterModule' imported by the module 'AppModule'

Angular 2 RC6
ngc -p tsconfig.json

[2016-09-04 16:24] Stabzs commented on #55
Could you please provide more context around this error or a working, reproducible example?  Thanks

[2016-09-06 12:39] dagstuan commented on #55
Can confirm this one. I have the same issue when I try to compile my project using AoT compilation. It seems Angular2-Toaster currently doesnt support AoT compiling. I'm not exactly sure why though.. will keep digging :)

[2016-09-06 13:32] dagstuan commented on #55
I managed to get it to build by importing the source `toaster.module.ts` file instead of trying to import the one exported by the lib.

as in: `import { ToasterModule } from 'angular2-toaster/src/toaster.module';`.

So there seems to be something wrong with how the module is bundled that causes it to not get imported correctly by `ngc`.

[2016-09-06 15:09] Stabzs commented on #55
@dagstuan Thanks for the confirmation and the investigative work.

I'll look into it.

[2016-09-06 18:12] jcannata commented on #55
I am also having trouble with lazy-loaded routes but the error may point to the problem...

`core.umd.js:5995 EXCEPTION: Uncaught (in promise): Error: BrowserModule has already been loaded. If you need access to common directives such as NgIf and NgFor from a lazy loaded module, import CommonModule instead.`

Looking at the code it looks like ToasterModule is importing BrowserModule where it proba

[2016-09-06 18:27] Stabzs commented on #55
@jcannata That is a really good catch.

I didn't notice that BrowserModule was used during the code review for the ngModule contribution.

In hindsight, it makes perfect sense that this would be causing issues, since BrowserModule is needed for the entrance to the application, whereas CommonModule is needed for bootstrapping a plugin, which is what this is.

The library will always be dropped into

[2016-09-06 21:50] Stabzs commented on #54
Close per https://github.com/Stabzs/Angular2-Toaster/commit/7af3389814db5cbb31ae8bf32a474ec691791046

[2016-09-06 21:50] #54 closed

[2016-09-06 21:51] Stabzs commented on #55
Is anyone able to confirm via getting latest source (not package) that the above commit has resolved this issue?  I'd love confirmation before pushing a new npm package version.

Thanks.

[2016-09-06 22:04] #55 closed

[2016-09-06 22:05] Stabzs commented on #55
This is now published to NPM as `0.5.1-rc.6`.  Thanks @jcannata for the confirmation!!

[2016-09-06 22:09] Stabzs commented on #51
@levjad There is a new build, `0.5.1-rc.6` that fixes an improper inclusion in `toaster.module`.  This may also resolve your issue if you are still running into difficulties.

[2016-09-07 18:45] #44 closed

[2016-09-09 07:31] dagstuan opened #57 "Missing metadata.json files for AoT compilation"
Currently the library does not support AoT compilation due to missing metadata.json files that need to be included along with d.ts-files.

See:

https://github.com/orizens/angular2-infinite-scroll/issues/77#issuecomment-245027350
https://github.com/angular/angular/issues/11262#issuecomment-244472000
https://github.com/angular/angular/issues/11262#issuecomment-244489405

[2016-09-09 14:26] sagarjumble commented on #6
Hey it throws error using web pack .
Error  zone.js:269 Uncaught Can't resolve all parameters for ToastComponent: (?, ComponentFactoryResolver).

[2016-09-09 14:35] Stabzs commented on #6
@sagarjumble it appears to be failing on the `private sanitizer: DomSanitizer` constructor parameter for `ToastComponent`.  This is included via `'@angular/platform-browser'`.  Make sure you are loading it appropriately in your web pack configuration.

[2016-09-09 14:38] sagarjumble commented on #6
@Stabzs I am loading the platform browser  using
import { BrowserModule } from '@angular/platform-browser'
Is there any other issues.

[2016-09-09 14:42] Stabzs commented on #6
It is impossible to say without a reproduction of the issue. It can't resolve the injection so something must not be loaded correctly. Make sure that you are using all 2.0.0-rc.6 angular packages.

[2016-09-09 14:43] sagarjumble commented on #6
I am using rc.5

[2016-09-09 14:45] sagarjumble commented on #6
Trying to Utilize it in https://github.com/akveo/ng2-admin.git
Above project

[2016-09-09 14:47] Stabzs commented on #6
@sagarjumble `angular2-toaster@0.5.0-rc.6` and later requires peer dependencies of angular 2 `2.0.0-rc.6` or higher.  They renamed the DOM sanitization service, which is why your injection is failing.  Please either degrade angular2-toaster to an rc.5 compatible version (not recommended) or upgrade to angular 2 rc.6.

[2016-09-09 14:49] sagarjumble commented on #6
Can you provide me a link which will help me to upgraded to rc6

[2016-09-09 14:52] Stabzs commented on #6
@sagarjumble you can take a look at something like the following: http://proudmonkey.azurewebsites.net/upgrading-from-angularjs-2-beta-to-rc-6/.  I highly recommend you read the changelog for rc6 as there are a large number of breaking changes.

[2016-09-11 01:12] #57 closed

[2016-09-11 01:27] Stabzs commented on #42
Since there hasn't been a lot of traction on this particular request, it doesn't seem to be that large of a demand.  Closing.

[2016-09-11 01:27] #42 closed

[2016-09-12 21:32] jtc10005 commented on #46
the plunker appears to be broken
[http://plnkr.co/edit/hkENUhos6q9fhiOHprXO?p=preview](http://plnkr.co/edit/hkENUhos6q9fhiOHprXO?p=preview)

[2016-09-14 16:09] ElsewhereGames opened #59 "Update to Angular2 RC7"
Angular2 RC7 has been released, but I think you only have to bump the version number of RxJS to ```5.0.0-beta.12```.

[2016-09-14 16:10] Stabzs commented on #59
Thank you for the head's up!  This will get pushed soon.

[2016-09-14 16:17] ElsewhereGames commented on #59
Thank you for this awesome library!

I noticed that even Material2 has not updated yet to the new RC, I don't think anyone was expecting a new one this quick.

[2016-09-14 16:30] #59 closed

[2016-09-14 16:44] Stabzs commented on #59
@ElsewhereGames  you're welcome!  Glad you're finding it useful!

This is now published as `.0.5.2-rc.7`.

[2016-09-14 16:51] Stabzs commented on #46
@jtc10005 this has been updated to `0.5.2-rc.7` and functionality is restored.

[2016-09-14 23:35] BrainCrumbz opened #60 "Missing `angular2-toaster.ts` in repository"
Hi there. *package.json* states that project entry point is given by

[code]

but then, there's no such file in repository root. Instead you can find its *js*, *js.map*, *d.ts* cloned counterparts there:

![angular2-toaster-ts](https://cloud.githubusercontent.com/assets/3185573/18533607/947ad696-7ae4-11e6-9cbf-649ff8d9f3e9.png)

[2016-09-15 14:36] krunaldesai79 opened #61 "Unable to redirect to another page using pop/popTo."
I am not able to redirect to another page after executing the code to  show the message using pop.

this.toast = {
                type: 'success',
                body: 'Hello',
                showCloseButton: false,
                timeout: 2000
            };
this.toasterService.pop(this.toast);

I have tried below  both option to redirect to another page but didn't get success.

this.nav.popT

[2016-09-15 15:10] Stabzs commented on #60
Great catch!  The `.ts` file was swapped out a long time ago since it really didn't _need_ to be compiled.  I'll update the package.json file and this will go in the next build.

[2016-09-15 15:11] Stabzs commented on #61
This has nothing to do with the toaster library.  That said, if you create a plunker that demonstrates the issue, I'll be happy to take a look.

[2016-09-15 15:11] #61 closed

[2016-09-15 15:24] reflog opened #62 "AOT mode is not supported"
When using 'ngc', the following error is thrown:

[code]

[2016-09-15 16:22] BrainCrumbz commented on #60
Actually, shouldn't those build output files be also deleted and ignored from source control?

[2016-09-15 16:47] Stabzs commented on #60
No, because these are entry points that need to be modified if the module changes.  They do belong in source control.

That said, yes, the typings directory **_can_** be removed from source control, but it is referenced via tsd.json.  I don't think that removing it has a strong enough argument currently since typings are used in builds and tests.

[2016-09-15 18:14] BrainCrumbz commented on #60
Of course those file are there for some reason. Was just questioning whether they could be generated, hence being output of some tool, as opposed to "manually edited" sources.

1. Aren't `angular2-toaster.d.t.s| .js| .js.map` recreated upon each build?
1. Isn't `typings\` folder recreated during some install/postinstall phase, so already existing for every build?

E.g. for our projects, `typings\`

[2016-09-15 18:19] Stabzs commented on #60
1.  They are currently not, although somewhere on the back of my deprioritized list is a task to move them back into the build.  It would be far more correct to do so.  Once that happens yes, then only the source would need to be checked in.  It just isn't at that point atm.

2.  The typings folder is not currently recreated during install/postinstall, although it's an excellent suggestion.   I'll

[2016-09-15 19:01] Stabzs opened #63 "Upgrade to Angular 2.0.0 final release"

[2016-09-15 19:27] Stabzs commented on #62
@reflog This is really interesting...it would seem that AoT disallows private properties being referenced in pre-compiled templates.  It would _**seem**_ that if a property is exposed to the template in an AoT compilation scenario, it HAS to be public, per https://github.com/angular/angular/issues/11422.  While this does make sense, it also isn't exactly intuitive per se and it is a bit disappoint

[2016-09-16 00:28] BrainCrumbz opened #64 "Hanging ngModule in container specs?"
In *toaster-container.component.spec.ts*, [after TestComponent class](https://github.com/Stabzs/Angular2-Toaster/blob/56d040b1ab30cfd986fa320e68b2cb62b60899e5/src/toaster-container.component.spec.ts#L28) there seems to be a `@NgModule` decorator not attached to any class definition:

[code]

Is that intended? While working at a PR to remove typings from source control, we incurred in a build error

[2016-09-16 00:34] BrainCrumbz commented on #64
Adding the following fixes build:

[code]

but not sure what happens to tests then...

        Error: XHR error (404 Not Found) loading http://localhost:9876/base/node_modules/@angular/core/bundles/core.umd.js/src/linker/ng_module_factory
            at XMLHttpRequest.wrapFn [as _onreadystatechange] (http://localhost:9876/base/node_modules/zone.js/dist/zone.js?02524aa211d9378ad861942509a2e2b9e3622

[2016-09-16 00:43] BrainCrumbz commented on #62
Although, having also experience in WPF/C#, it does make sense. From the testing & design point of view, at least, you can think of component view being separated from component logic. Binding between them is a clear interface, so it sounds more normal if that's public. And you want to unit test component logic by inspecting values on its bound properties after some stimuli.

[2016-09-16 02:08] Stabzs commented on #62
@BrainCrumbz I don't disagree that this makes sense from a compiled perspective.  I just found it somewhat surprising that an internal template binding needs to be exposed and that ngc doesn't perform a form of hoisting/wrapping to expose those bindings.  That said, of course it simply makes far more sense to require it to be public :)

[2016-09-16 02:10] Stabzs commented on #64
Yes, this is absolutely intended.  This is the NgModule definition for the TestComponent class (hence the TestComponent declaration).  Removing or modifying this will break the tests, as you found.

[2016-09-16 03:20] Stabzs commented on #64
The issue here is that there needed to be a declared exported class for TestComponent as well.

[2016-09-16 03:40] #60 closed

[2016-09-16 03:40] #62 closed

[2016-09-16 03:40] #63 closed

[2016-09-16 03:40] #64 closed

[2016-09-16 08:13] reflog opened #67 "typings are still required"
you latests build 1.0.0 even though you removed typings, still calls it. so it errors with:

sh: 1 typings not found

[2016-09-16 12:10] jbrekle commented on #67
same here, my build fails and even a globally installed typings does not hlp. Either remove it (I am not sure if you want it, there was some back-and-forth in the package.json postinstall) or use a approach discussed [here](https://github.com/ghpabs/angular2-seed-project/issues/54) to use the locally installed typings executable

[2016-09-16 13:05] Stabzs commented on #67
Sorry I'm not following. The first step for pulling down the package as source should always be to re-run npm install. Is this still failing after doing so?  If so I think that the dep just needs to be updated to use the global flag.

[2016-09-16 13:11] reflog commented on #67
postinstall shouldn't run typings, since you are now using @types approach... (if i'm not mistaken)

[2016-09-16 13:14] Stabzs commented on #67
The @types approach is for the angular packages. However, the jasmine tests still require core-js and jasmine typings to compile and execute correctly, some some form of typings are still needed for them, as far as I know.

That said, if you are aware of another approach, please let me know. Could you also verify if installing the typings package with the global flag resolves the issue?

[2016-09-16 13:23] reflog commented on #67
yes, global install fixes it. if you do need it for jasmine, the solution would be to return it to devDependencies...

[2016-09-16 13:41] Stabzs commented on #67
One again I'm not sure if I follow you.  It is currently listed in devDependencies.  Did you by chance pull down one of the checked in in-between versions while it was in flux?  That said, I do completely agree with you...it SHOULD be a devDependency.

[2016-09-16 13:45] reflog commented on #67
That IS super weird! :) I installed 1.0.0 ... And I just peeked inside - it IS mentioned in devDependencies. Very odd. But I tried it again - same result. Postinstall fails.

[2016-09-16 13:53] jbrekle commented on #67
Is it possible that there is a difference between npm installing within a angular2-toaster cjkecked out repo  vs. letting npm install angular2-toaster as a dependency?
I tried to install typings globally on our buildagent but it does not work
[code]

[2016-09-16 13:54] Stabzs commented on #67
@reflog so reading the thread that @jbrekle linked, it would _**appear**_ that there is no longer a bin folder in the typings package either, meaning no executable.  It is odd that it isn't working as a devDependency however.

[2016-09-16 13:59] Stabzs commented on #67
@jbrekle it is possible, though I'd need to understand your scenario more.  Are you pulling down the angular2-toaster npm package via npm and then rebuilding it?  Because you wouldn't want to do that.  The distributed source is already compiled via ngc.  You would just want to wire in the files and allow your module loader to perform tree shaking as necessary.

However, when building it from check

[2016-09-16 14:07] jbrekle commented on #67
@Stabzs umh, we use the npm package, and as far as there are only ts file in there, I assume we then compile it into our bundles. Never thought of that. Can you give me a hint about ngc?

[2016-09-16 14:10] Stabzs commented on #67
@jbrekle ngc is the `@angular/compiler-cli` package that enables Ahead of Time compilation.  `angular2-toaster` was switched over to it to enable your applications to use AoT compilation if you so desire.  You by no means have to, but the support is there if you need.

That said, I've tested my theory locally and that does indeed seem to be the problem...it never should have been calling `typings

[2016-09-16 14:11] #67 closed

[2016-09-16 14:14] Stabzs commented on #67
This has been published to npm as `1.0.1`.  Again, sorry for the confusion and thank you for pointing out the issue quickly!

[2016-09-16 14:32] jbrekle commented on #67
its working now! thanks, for the fast reply!

[2016-09-16 14:39] reflog commented on #67
awesome, thanks!

[2016-09-16 15:31] Stabzs commented on #67
@jbrekle thanks for the confirmation and you're welcome!

@reflog  You're welcome!

[2016-09-21 19:07] #46 closed

[2016-09-27 16:04] isaacplmann opened #68 "Compile *.metadata.json files with ngc and include in library"
angular2-toaster does not ship with *.metadata.json files next to the *.d.ts files.  This is needed for AoT compiled apps ([reference](https://github.com/angular/angular/issues/11262#issuecomment-244472000)).

I've written up [an article](https://medium.com/@isaacplmann/getting-your-angular-2-library-ready-for-aot-90d1347bcad#.qg0xq01pr) with steps to generate those files.  I'll make a PR, if I fi

[2016-09-27 17:42] Stabzs commented on #68
This is incorrect.  What version of the package are you looking at?  The metadata.json files absolutely ship with the d.ts files:

![image](https://cloud.githubusercontent.com/assets/11450848/18885107/78e3f44a-84a7-11e6-99a4-20226d015921.png)

[2016-09-27 17:42] #68 closed

[2016-09-27 17:44] isaacplmann commented on #68
You're right.  Sorry.  Good work.

[2016-09-27 17:45] Stabzs commented on #68
@isaacplmann  no problem, I appreciate you being diligent!

[2016-10-06 15:37] alexandria122 opened #69 "CSS Class Names Conflict with Boostrap"
The Bootstrap css stylesheet has the same naming convention for toast-error, toast-info, etc., with its own image icons.  So anyone with Bootstrap imported into their project will have funky results when showing a toast.

[2016-10-08 23:06] markhatchell opened #70 "bundling the package for production issue"
I noticed that when I bundled the package the toast.js file was empty that was included in the npm module. So I created a placeholder file and replaced it, now it bundles properly and exports the Toast class.

It would appear that something is wrong with the build process of the module because when I cloned the repo and built it for myself, the toast.js file was still empty.

Here is what I used t

[2016-10-09 00:02] Stabzs commented on #70
Correct, it would be empty.

`toast.ts` is simply an interface declaration for strong typing when building the source.  There is no concrete object and there is no `Toast` `class`, which is why the `toast.d.ts` file shows the necessary typing information and the `toast.js` declaration is empty.  However, by providing the file and the source map, the underlying typed source is still available for d

[2016-10-09 05:25] markhatchell commented on #70
That makes sense for typescript typing.

It would build without issue however when the bundle was loaded it threw an error stating that Toast was undefined. When I supplied the empty class to be exported it ran fine with the production bundle.

[2016-10-09 16:42] Stabzs commented on #70
Can you please provide an example of your build process and how you are consuming the end result?  The file is fully accessible.  This seems to be bundler-centric.

[2016-10-09 16:44] Stabzs commented on #69
This would be caused by a lack of specificity on Bootstrap's part. Loading toaster.css before bootstrap should reoslve this.  It isn't exactly related to the angular2-toaster library itself.

[2016-10-11 21:00] ruiwanguk commented on #70
We are experiencing the same issue with our build as well. The build process is running fine but the final bundle.js throws an error "Uncaught TypeError: Cannot read property 'Toast' of undefined".

We are using gulp to build and bundle our project, which reads off systemjs.config.js.

Has something changed recently? We didn't have this kind of problem before.

[2016-10-11 21:06] Stabzs commented on #70
@ruiwanguk not that I am aware of.  The `angular2-toaster.js` root file has always exported the `Toast` interface from the `./lib/toast` file.  Can you please provide a stack trace of where it is throwing the error?  That might be useful.

[2016-10-11 21:10] ruiwanguk commented on #70
@Stabzs , when we load our webapp, there is no stack track as such. Only the error message "Uncaught TypeError: Cannot read property 'Toast' of undefined, angular2-toaster.js:2"

[2016-10-11 21:19] ruiwanguk commented on #70
@Stabzs, btw, we are using version 1.0.0

[2016-10-11 21:30] Stabzs commented on #70
@ruiwanguk  does the issue persist in 1.0.1?  In addition, are you able to provide a small sample gulp config of how you are bundling just the library source?

[2016-10-11 21:36] ruiwanguk commented on #70
@Stabzs  Does this help?
`
var SystemBuilder = require('systemjs-builder');
var argv = require('yargs').argv;
var builder = new SystemBuilder();

builder.loadConfig('systemjs.config.js')
    .then(function () {
        var outputFile = argv.prod ? 'dist/bundle.min.js' : 'dist/bundle.js';
        return builder.buildStatic('src', outputFile, {
            minify: argv.prod,
            mangle: argv

[2016-10-11 21:41] Stabzs commented on #70
@ruiwanguk I'll let you know.  Thank you!

[2016-10-12 01:54] sprell opened #71 "BodyOutputType.Component with template bindings not working"
Is there a working demo using BodyOutputType.Component with template bindings? Whenever I try to add bindings or interpolation to the template I get the following error.

Error: Expression has changed after it was checked. Previous value: 'CD_INIT_VALUE'. Current value: 'Some value loaded via component'. It seems like the view has been created after its parent and its children have been dirty chec

[2016-10-12 03:35] Stabzs commented on #71
Thanks for the modified plunker.

This looks like this is caused by changes made post rc.5 that do not allow new model changes in `ngAfterViewInit()`, which is the hook used for dynamic rendering since it is not until that point that the new `componentFactoryResolver` can render the component.

This should be as simple as forcing change detection within the lifecycle hook.  This was not properly c

[2016-10-12 22:00] Stabzs commented on #70
@ruiwanguk does something like https://github.com/jspm/jspm-cli/issues/1127 address your issue?  If not, it seems like it may be prudent to remove the `Toast` export from `angular2-toaster.js` altogether so that it will be available via interface if being source-mapped, but not in the publicly exported library.

[2016-10-12 22:00] Stabzs commented on #70
@markhatchell are you using SystemJS as well for your module-loading?  And how are you bundling it?

[2016-10-12 22:24] #70 closed

[2016-10-12 22:24] #71 closed

[2016-10-14 16:07] DorBashan opened #72 "opacity"
any plans to configure the opacity of the toast?
something similar to "timeout" like:

`new ToasterConfig({opacity: {error:50, success:100, warning:50, info:100}});`

(the numbers are percents of course)

[2016-10-14 17:25] Stabzs commented on #72
This doesn't need to be configured as a parameter if this is instead added as a style. Opacity feels very much like a CSS override.

[2016-10-14 17:32] DorBashan commented on #72
Agreed, anyway I think the default opacity should be 100%

[2016-10-17 23:51] quiringk opened #73 "After timeout toaster fades a little but doesn't fully close"
I see in your demo that the info toaster fully closes after 5000ms. When I try to use the configuration with the timeout the toaster goes from solid color, to a little faded but not fully closed. Do you know why this may be?

[2016-10-18 00:41] Stabzs commented on #73
No I have never run into that before. Would you be able to create a plunker that reproduces the issue?  Do you have any CSS overrides?

[2016-10-21 08:57] Birowsky opened #74 "Support preventing duplicates"
Ideally: if same content toast arrives, just extend the display time of the existing one.

[2016-10-24 13:30] Stabzs commented on #74
The title of this issue is misleading.

Support for duplicates already exists. If the toaster-config preventDuplicates flag is set to false, duplicate toasts can and will be added.

However, what you are proposing is different and honestly, I have a hard time believing that that is a common use case. When would you need to extend an already displayed toast?

[2016-10-24 13:30] #73 closed

[2016-10-24 13:30] #72 closed

[2016-10-24 13:32] Stabzs commented on #72
Since this originally derives from the toastr library, which used an opacity of .8, I think that the library is currently in line with community expectations. In addition, you can always override the opacity yourself if you need to change it.

[2016-10-24 13:47] Birowsky commented on #74
preventDuplicates is enough for me for now. You can close this.

About my ideal way to handle this:
- prevent duplicates is enabled.
- event a) happens and triggers toast.
- the same event happens 1ms before the toast times out and is closed. If we don't extend the toast time, it would seem that the latest event closed the toast.

[2016-10-25 13:21] Stabzs commented on #74
I understand how that scenario would be misleading. I feel like it is probably rare, but it IS possible.

I'll close this for the time being. If it needs to be looked at again down the road, feel free to reopen.

[2016-10-25 13:21] #74 closed

[2016-10-26 11:56] adonespitogo opened #75 "Timeout dismiss not working"
Pop ups doesn't go away ang gets piled up until clicked. On angular 2.1.1

[2016-10-26 23:33] adonespitogo commented on #75
My mistake, sorry

[2016-10-26 23:33] #75 closed

[2016-10-28 18:20] anrepppp opened #76 "progress bar to indicate time is up..."
So far, i liked the features the plugin has provided. But, one thing that i feel it's missing was 'progressBar'. Please can you add the progressBar feature, since it indicates the progressing time to the user inside the toaster. It is helpful in many ways to the user to take action before toaster fades away.

Also I have a question how to customize the color of a toaster, for instance i want to ch

[2016-11-04 07:05] surjitkumar25 opened #77 "Scope issue"
Hi,

It is working fine on the same component, but not with other components,
like have declared toaster-container directive in the App module and try to call toast from child modules of App

http://prntscr.com/d2w495

[2016-11-04 14:22] Stabzs commented on #77
Can you please create a minimalistic plunker that reproduces the issue?

[2016-11-04 14:23] Stabzs commented on #76
You are correct, a progress bar feature was never added.  I'll look into adding that as a feature.

If you want to change the color of the info toasters, simply override the css for that class.

[2016-11-05 06:01] ajithkallur opened #78 "(SystemJS) XHR error (404 Not Found) loading http://localhost:51372/angular2-toaster/angular2-toaster(…)"
(SystemJS) XHR error (404 Not Found) loading http://localhost:51372/angular2-toaster/angular2-toaster(…).

When I am trying to Import the Toaster Service and Toaster Module it shows up this error.

[2016-11-05 15:26] Stabzs commented on #78
You've mis-configured your SystemJS mapping.  Please see the SystemJS demos or the online plunker for examples.  I am closing this since it is not an issue with the library, but if you create a plunker reproducing the issue I'm happy to take a look and point you in the right direciton.

[2016-11-05 15:26] #78 closed

[2016-11-06 03:34] ajithkallur opened #79 "toaster-container is not known"
zone.js:388 Unhandled Promise rejection: Template parse errors:
'toaster-container' is not a known element:

When I am trying to include toaster-container in html it says the error

[2016-11-07 00:33] Stabzs commented on #79
Please create a plunker that reproduces the issue and I'll be happy to take a look.

[2016-11-07 00:33] #79 closed

[2016-11-07 00:34] #77 closed

[2016-11-09 18:52] anvesh48 commented on #76
Fantastic, that is a good new..!

[2016-11-10 16:36] louie-succio opened #80 "this._addToast observer is not defined"
Hi,

Just to preface this, the project I'm using angular2-toaster for uses rxjs 5.0.0-beta.12 and is Angular2.1.xl.

I'm trying to use the toasterService method .pop() with a Toast object passed in, and when I get to this check:
[code]
this._addToast is always undefined.

At this point in the execution of the .pop() method, the 'this' context has addToast as a property but not _addToast.  It also

[2016-11-10 17:26] Stabzs commented on #80
You are almost certainly using the library incorrectly.

Where have you included a toaster container instance?  Can you include a simple plunker that demonstrates the issue?

[2016-11-14 18:57] quiringk opened #81 "Error with Angular 2 AOT"
After following all of the steps in the AOT tutorial and fixing all the issues, now at the rollup part I get the following error:

'ToasterService' is not exported by node_modules\angular2-toaster\angular2-toaster.js (imported by app\app\core\core.module.js). For help fixing this error see https://github.com/rollup/rollup/wiki/Troubleshooting#name-is-not-exported-by-module

I am new to Angular AOT

[2016-11-14 19:08] #80 closed

[2016-11-14 19:12] Stabzs commented on #81
This is odd.  The service is exported (and always has been) by angular2-toaster.js:

`exports.ToasterService = require('./lib/toaster.service').ToasterService;`

Just to clarify, which version of the library are you using?

[2016-11-14 19:13] quiringk commented on #81
1.0.2

[2016-11-14 19:14] quiringk commented on #81
Could this be the issue?

From Angular AOT Rollup Tutorial:

"Rollup can only Tree Shake ES2015 modules which have import and export statements.

Recall that tsconfig-aot.json is configured to produce ES2015 modules. It's not important that the code itself be written with ES2015 syntax such as class and const. What matters is that the code uses ES import and export statements rather than require s

[2016-11-14 19:20] Stabzs commented on #81
There's certainly an easy way to check.  If you import the service file directly, does it still throw an error?

`import { ToasterService } from './angular2-toaster/lib/toaster.service';`

Keep in mind this may be more consistent with Tree Shaking expectations.

[2016-11-14 19:30] quiringk commented on #81
Same error after I imported directly unfortunately.

[2016-11-14 19:37] Stabzs commented on #81
Are you able to create a small repo or fiddle reproducing the issue by chance?  I'd like to take a closer look.

[2016-11-14 21:12] dakipro opened #82 "example with angular-cli ?"
Hi,
thanks for porting the extension. I was struggling some time to get it to work with angular - cli, always some error about module not loaded (I was trying several different things and often it was a different message, sorry I forgot to copy it).
Or general guide on how to install it with the cli maybe?
Thanks!

[2016-11-14 21:52] Stabzs commented on #82
Could you please provide more context around what you are attempting and what went wrong?

[2016-11-15 06:02] quiringk commented on #81
I figured it out. I had to do add configure the rollup-config.js file for some of my external libraries in the commonjs section. Had to include the library.

commonjs({
include: ['node_modules/rxjs/', 'node_modules/angular2-toaster/'],
})

[2016-11-15 17:49] Stabzs commented on #81
@quiringk glad to hear it!

[2016-11-15 17:49] #81 closed

[2016-11-16 13:03] AndyMeps opened #83 "Prevent toast disappearing on mouseover?"
Would it be possible to prevent a toast from disappearing whilst the cursor is over it? Had a look at the current documentation and this doesn't seem to be implemented currently.

Thanks,

Andy

[2016-11-17 15:49] Stabzs commented on #83
This is currently not implemented but would be a good (and consistent) feature that is in line with other, similar libraries.

[2016-11-17 15:49] #82 closed

[2016-11-19 15:08] georgeedwards opened #84 "BodyOutputType.Component throws No component factory found for DynamicComponent"
I am trying to use a component for the body of a toast - like this:
[code]
However, this throws error:

Why?

[2016-11-19 16:38] Stabzs commented on #84
Thank you for the detailed steps to reproduce.

There's a lot going on here and the majority of it has to do with how Angular 2 locks down DOM rendering as a security precaution.  Let me walk through a few of the issues first before discussing the solution.

First, `BodyOutputType.TrustedHtml` is just for html, nothing more.  You cannot use it to render imported components, regardless of whether o

[2016-11-19 16:38] #84 closed

[2016-11-20 15:09] georgeedwards commented on #84
@Stabzs Thank you very much - that is really helpful!

So at the moment I now have a working example based on your plunker. it binds `[(ngModel)]="answer"` to the input and has a button which calls the `submit()` function. This all works well, however, in my application, I am collecting answers to questions. i.e. the toast title will pose a question and then the user will enter an answer.

I want

[2016-11-20 15:21] Stabzs commented on #84
You're welcome!

Are you able to create a plunker demonstrating your progress so far based off of the one I provided?  That would help mu understand the data relationships.

[2016-11-20 21:03] georgeedwards commented on #84
@Stabzs See [here](http://plnkr.co/edit/7JJI5HCwv5uqnliNPSdA?p=info)

[2016-11-21 01:45] Stabzs commented on #84
@georgeedwards  perhaps the most explicit way would be to use a shared service.  This allows you to encapsulate all of your logic around the answer in one place.  Using rxjs Subscriptions will allow you to push and retrieve data.  I'd also recommend passing along any relevant toast information as well so that you can identify the source.

See http://plnkr.co/edit/Duc4JfIqsa4UnPRFq3pG?p=preview

[2016-11-21 01:51] Stabzs commented on #27
@friksa apologies for letting this sit so long.

After letting the Angular 2 community and changes bake in, it still seems like the best way to handle this would be a shared service.  I'm open to any new insight if you have it.  If not, I don't believe that this is something that can/should be enhanced within the library and instead should be handled via services.

[2016-11-21 11:35] georgeedwards commented on #84
Awesome - that works well. I had to remove `providers: [NotificationService]` from the MaterialComponent as it was causing the injection of a new service instance.
Last thing, I want to close the notification when the submit button is pressed. Is it possible to make the MaterialComponent aware of it's parent toast's id?

[2016-11-21 17:21] Stabzs commented on #84
@georgeedwards ahh, whoops, thanks for cleaning that up :).

Your final question is a tricky one...because of the nature of dynamically loaded components created via ComponentFactoryResolver, an `@Input` wouldn't be possible.

I may need to look at enhancing dynamically loaded components with the toast id at creation so that they are always available.  I'll look into this a bit more.

[2016-11-21 19:12] georgeedwards commented on #84
@Stabzs Awesome - thank you! That would be a really helpful enhancement.

[2016-11-30 13:14] georgeedwards commented on #84
@Stabzs If there is anything I can do to help - please give me a shout!

[2016-12-02 15:59] anvesh48 commented on #76
@Stabzs
Any update about the implementation of progress bar feature? Please let me know if i can help you out.

[2016-12-03 16:53] #83 closed

[2016-12-03 16:55] Stabzs commented on #84
This is now published under package `1.1.0`.

[2016-12-03 16:56] Stabzs commented on #76
@anvesh48  sorry for the delay.  This is now the next enhancement priority.

[2016-12-03 17:45] Stabzs commented on #84
@georgeedwards I've also updated the previous plunker to use a an object response wrapper in the shared service that passes the toast id from the instance, using version `1.1.0`.  Hopefully this should give you everything you need.

[2016-12-03 20:53] Stabzs commented on #27
Changes to Component bodies in `1.1.0` allow for the toast instance to be passed to the rendered component.  This allows for shared services to interact with the toast (see this [plunker](http://plnkr.co/edit/Duc4JfIqsa4UnPRFq3pG?p=preview)).  I believe this is sufficient enough for most cases to handle these scenarios without needing to resort to manually registering events with the toast instanc

[2016-12-03 20:53] #27 closed

[2016-12-04 01:31] pavlokitdev opened #86 "Problem with calling toaster in observable 'subscribe'"
Hi! I'm using Angular2-Toaster in Meteor+Angular2 application.
Also I'm working with Mongo collection via MongoObservable (meteor-rxjs)

I have a problem with displaying notifications after updating user profile, some time it shows after 3-4 attempt.

Here is my code:
(console.log works after each update)
    Users.update(Meteor.userId(), {
      $set: {
        'profile.first_name': data.first_na

[2016-12-04 04:16] Stabzs commented on #86
Can you please provide a repo?  the toast.component will explicitly force change detection for the component on toast add so that you do not have to worry about parent change detection impacting the toast container instance.

There is a possibility that your observable is not hot, causing the first few fires to not hit your subscribe properly.  If you are able to create a plunker that demonstrates

[2016-12-05 21:26] anvesh48 commented on #76
Thanks..! :)

[2016-12-06 22:47] #86 closed

[2016-12-10 03:23] alyahmedaly opened #87 "Upgrade to Angular 2.3.0 to satisfy peer Dependencies on next Minor version"
npm WARN angular2-toaster@1.1.0 requires a peer of rxjs@5.0.0-beta.12 but none was
installed.
UNMET PEER DEPENDENCY rxjs@5.0.0-rc.4

[2016-12-11 01:15] Stabzs commented on #87
That is nothing more than an npm warning, not an error.

You can absolutely use `angular2-toaster@1.1.0` with `@angular@2.3.0` and `rxjs@5.0.0-rc.4` as shown in this [plunker](http://plnkr.co/edit/uUgo1ybhotw8QJX4elTo?p=preview).

This is simply a warning and will not prevent you from using the library.  Since the goal of previous versions of angular2-toaster was to try to be more accommodating of

[2016-12-11 12:11] georgeedwards commented on #84
@Stabzs This is awesome - thank you! How would you recommend accessing the ToastID from the launch function, i.e.:
[code]

[2016-12-13 10:05] CaselIT opened #88 "Angular 2.3 peer dependency issue"
Hi,
Angular 2.3 updated the peer dependency of rxjs to version 5.0.0-rc.4, while this library still list it as beta.12 causing npm to complain. Please consider updating it.
Thanks

[2016-12-13 16:56] Stabzs commented on #88
This is a duplicate of https://github.com/Stabzs/Angular2-Toaster/issues/87.  I don't want to create an additional release just for increasing the peer dependency version, especially when it can still be used successfully.  I will update the peer dependency versions to latest angular 2 and rxjs versions on the next minor release of angular2-toaster.

[2016-12-13 16:56] #88 closed

[2016-12-13 17:00] CaselIT commented on #88
Did not check among the closed bug list.
Maybe leave one the original issue open until its fixed, so it's more visible?

Sorry for the duplicate

[2016-12-13 17:31] Stabzs commented on #88
No problem and great point.  I've reopened the original issue with a clearer title.  Thanks.

[2016-12-14 20:37] scottmun commented on #87
What about upgrading the angular version for AOT?

I'm getting the following error in the rollup phase:

'ToasterModule' is not exported by node_modules\angular2-toaster\angular2-toaste
r.js (imported by compiled-aot\src\app\common\app.module.js). For help fixing th
is error see https://github.com/rollup/rollup/wiki/Troubleshooting#name-is-not-e
xported-by-module
Error: 'ToasterModule' is not expo

[2016-12-15 21:05] Stabzs commented on #87
@scottmun could you please provide additional details to reproduce?  Thanks

[2016-12-16 15:06] scottmun commented on #87
I'm importing the ToasterModule just like you laid out in your README. Works fine using JIT. Other 3rd party modules compiled with angular 2.2+ work fine.

[2016-12-18 00:30] Stabzs commented on #87
@scottmun what version of angular2-toaster are you using?  I could not reproduce any such issue via angular-cli running @angular@2.3.1 with the --prod and --aot flags.

[2016-12-18 16:46] tomalex0 commented on #87
When  i upgraded to `angular 2.3.1`  i'm seeing
`npm WARN angular2-toaster@1.1.0 requires a peer of rxjs@5.0.0-beta.12 but none was installed.`

This is preventing yo generate `npm shrinkwrap`

[2016-12-18 20:05] cedricduffournet commented on #87
I also encounter an issue with angular@2.3.1 and AOT. I get the error:

[code]

I did a quick repo with my configuration https://github.com/dakodapp/ngx-test

Hope it helps

[2016-12-19 04:11] Stabzs commented on #87
@cedricduffournet Thank you so much for the very detailed repo.  It is extremely helpful.

There seems to be two different issues at play at the moment.  The warning in regards to rxjs is because the package version is fixed (since Angular 2 fixed versions) and was never updated to allow for minimum-required versions, which needs to change.  With the exception of @tomalex0 's issue around `npm-shr

[2016-12-19 04:32] Stabzs commented on #87
It looks like the actual culprit here is the es5 compatible entrance point to the library at angular2-toaster.js.  Linking directly to `angular2-toaster/lib/toaster.module` allows the application to be consumed by AoT.

[2016-12-19 12:09] cedricduffournet commented on #87
Thanks for you help. I confirm that you solution fix my error.

[2016-12-20 04:55] tomalex0 commented on #87
@Stabzs
As of now i moved `angular2-toaster` out of `package.json` and  installing it from `posintsall` in `package.json`

[2016-12-20 12:18] philjones88 opened #89 "AoT 1.1.0 Unexpected value 'ToasterModule' imported by the module 'AppModule'"
Looks to be the same as #55

I'm using:

TS 2.0.10
NG 2.3.1
Angular2-toaster 1.1.0

[code]

Mostly following the official AoT cookbook at https://angular.io/docs/ts/latest/cookbook/aot-compiler.html

[2016-12-20 14:26] cedricduffournet commented on #89
An issue has already see: #87

[2016-12-20 18:36] Stabzs commented on #87
@cedricduffournet thank you for confirming!  This will be fixed shortly in the next release.

[2016-12-20 18:37] Stabzs commented on #87
@tomalex0 thanks for noting a workaround.  The rxjs requirement will be changed to `^5.0.0-beta.11` in the next release which should resolve your issue.

[2016-12-20 18:37] Stabzs commented on #89
@philjones88 this is a duplicate of #87 .  A permanent fix is being worked on and in the meantime, you can use the workaround noted in that issue as cedric called out.

[2016-12-20 18:37] #89 closed

[2016-12-20 18:47] cedricduffournet commented on #87
@Stabzs I just a did a fix for this issue, I used Universal Module Definition compilation, webpack for test... I didn't made a PR because I'm not sure if you would like to go this way. Anyway you can check what I have done here : https://github.com/dakodapp/Angular2-Toaster/tree/umd_webpack
Maybe you can find some interesting stuff for next version

[2016-12-20 18:55] Stabzs commented on #87
@cedricduffournet thanks so much for the repo.  I was already considering moving to UMD since the angular 2 team adopted it and the current structure of the `angular2-toaster` repo is fragile, particularly in light of how the library needs to be consumed.  I appreciate your time putting the repo together.

[2016-12-20 19:07] cedricduffournet commented on #87
You are really welcome.
Yes I think I could be great to move to UMD. The repo I made work well, it took me little time to adapt your existing project, I think it can help you.

[2016-12-20 19:17] Stabzs commented on #87
@cedricduffournet it looks great so far.  There's a lot of power using webpack and I had already been wanting to move to it for building the library since it handles so much of the grunt work.

One pain point will still be maintaining `@angular` dependencies as peer dependencies, so that consumers of the library can use any `@angular` version of `2.0.0` or greater, preventing forced updates unless

[2016-12-20 21:34] alyahmedaly commented on #87
Angular 2.4 released with rxjs ^5.0.1 ✌

[2016-12-21 19:54] Stabzs commented on #87
@cedricduffournet in your AoT work, did you notice badly formed metadata.json files reporting `{"__symbolic":"error","message":"Reference to a local symbol"` style errors?  I have a UMD branch complete but without properly formed metadata.json files, it can't be merged and released.

[2016-12-21 21:58] Stabzs commented on #87
@cedricduffournet the issue with metadata.json generation was caused by using a typescript version of 2.1.0 or greater.

[2016-12-22 02:20] Stabzs commented on #87
@alyahmedaly @scottmun @tomalex0 @cedricduffournet @GiuseppePiscopo Thank you all for your patience and input on these issues.

The library has been updated to UMD and published to NPM as `2.0.0` due to breaking changes in application structure, although the top-level APIs have in no way changed.  Please see details in the https://github.com/Stabzs/Angular2-Toaster/blob/master/CHANGELOG.md.

[2016-12-22 02:20] #87 closed

[2016-12-22 10:06] cedricduffournet commented on #87
@Stabzs Thank you. It works great

[2016-12-22 21:34] Stabzs commented on #87
@cedricduffournet thank you for confirming!

[2017-01-02 16:18] Ibrahim-Islam opened #91 "BodyOutputType.Component not working"
See the error console message here: http://plnkr.co/edit/picmkmZhsnVxg7hicc2q?p=info

[2017-01-02 17:03] Stabzs commented on #91
Your component is not wrapped or included in an NgModule.  Angular no longer allows you to render orphaned components dynamically.  You need to wrap your component in a module as demonstrated by the tests: https://github.com/Stabzs/Angular2-Toaster/blob/master/src/toaster-container.component.spec.ts#L41

[2017-01-02 17:05] Stabzs commented on #91
I've updated your plunker with a working example: http://plnkr.co/edit/xn4sZkrf6dCeHwLHMlCV?p=preview

[2017-01-02 17:05] #91 closed

[2017-01-03 15:13] igordeoliveirasa opened #92 "Error Loading"
All of my 3rd libraries have been loaded successfully, however, angular2-toaster not. I've been facing with this error:

Error loading http://localhost:3002/node_modules/angular2-toaster/angular2-toaster.js as "angular2-toaster" from http://localhost:3002/src/app/modules/index.js

This is my systemjs config:

/**
 * System configuration for Angular 2 samples
 * Adjust as necessary for your applica

[2017-01-03 20:40] Stabzs commented on #92
If using the umd format (which it appears you are), you would want to update your mapping to hit the umd file instead and forego the package mapping:

`'angular2-toaster': 'npm:angular2-toaster/bundles/angular2-toaster.umd.js'

This requires version 2.1.0.

[2017-01-05 23:29] #92 closed

[2017-01-09 10:16] dhyey35 opened #93 "Incomplete Information for Importing with SystemJS"
I think the Readme.md file should have the following information for importing angular2-toaster files with default configuration from angular2 quickstart using systemJS.

In  your systemjs.config.js file include angular2-toaster by adding it in map object:

[code]

Also documentation does not mention the use of **animationClass** in ToasterConfig.

Should I submit a PR ?

[2017-01-09 10:36] dhyey35 opened #94 "animationClass 'toast-bottom-right' and 'toast-bottom-center' not working"
![screenshot from 2017-01-09 16-15-29](https://cloud.githubusercontent.com/assets/11143604/21764014/eafaa016-d686-11e6-91d9-7831f95a6e10.png)

The 'toast-bottom-right' and 'toast-bottom-centrer' both classes need **top:auto** property to avoid top:12px being set by 'toast-top-right' class.

Would love to submit a PR.

[2017-01-11 12:20] EvaldasVasiliauskas opened #95 "Animation example"
Could you please provide an example of how one could add animations to toast container. I see that animationClass property is exposed, but for example if I set it to "fade" toast contained becomes invisible...

Or is animations not yet implemented?

Many thanks for great lib.

[2017-01-11 19:53] anvesh48 commented on #76
@Stabzs any update about progress bar feature.

[2017-01-12 15:31] anvesh48 opened #96 "How to serve the cloned repo in local? (Help Wanted)"
I am trying to work on the progessBar feature. Can you please help me how to serve the application in my localhost:

I did below things:
git clone https://github.com/stabzs/Angular2-Toaster.git
npm install
npm start (not shows the port number to direct to).

Can you please help how to run the application in localhost?

[2017-01-12 16:19] Stabzs commented on #96
Thank you for taking a look at the progress bar feature!  I haven't had time to get to it.

It will serve up source, not a full application, on http://127.0.0.1:8875.  To aid in development, it would probably be beneficial to create a bootstrapped source "project" that makes it easier.  If I can get to creating a full-blown demo site, it would be ideal to loop that into the dev process, but it doe

[2017-01-12 17:13] anvesh48 commented on #96
You are welcome and that's fine with me.

[2017-01-12 20:05] Stabzs commented on #93
Absolutely agreed, this would be very useful information. I'll add it to the documentation.

[2017-01-12 20:06] Stabzs commented on #94
animations are not yet added to the library.  This is a future enhancement.

[2017-01-14 23:20] Stabzs commented on #95
Thank you for the feedback!

Animations are not yet added.  They are a future enhancement and will be added in the near future.

[2017-01-14 23:22] #96 closed

[2017-01-18 17:16] anvesh48 opened #97 "Error in multistyles Module not found"
ERROR in multi styles
Module not found: Error: Can't resolve '\test\node_modules\angular2-toaster\lib\toaster.css' in '\project-all\test'
 @ multi styles

Also in the browser console:
Uncaught Error: Cannot find module "\test\node_modules\angular2-toaster\lib\toaster.css"

I am updating my angular project and all the plugins to the latest version and when i am serving the application i am seeing t

[2017-01-18 18:52] Stabzs commented on #97
Correct, the toaster.css file no longer lives in the lib folder in `2.0.0`, since the library was updated to follow the umd spec.  It is now available under the package root, or `/node_modules/angular2-toaster/toaster.css`.

[2017-01-18 19:00] anvesh48 commented on #97
Got you..! Thanks :)

[2017-01-18 19:00] #97 closed

[2017-01-18 22:46] andrejkaurin opened #98 "No Toaster Containers have been initialized to receive toasts"
[code]

[code]

[code]

Then injecting ToasterService and calling
`this.toasterService.pop('success', 'Some message');`

[2017-01-19 09:22] OvidiuBan opened #99 "Unhandled Promise rejection: ctorParameters.map is not a function"
Getting this after adding angular2-toaster.

[2017-01-19 14:04] Stabzs commented on #99
map() is not used in angular2-toaster so you most likely did not properly import map in your consuming code. Please create a plunker demonstrating the issue and I'll be happy to take a look.

[2017-01-19 21:58] Stabzs commented on #98
How are you actually rendering your app component?  Is it bootstrapped correctly?

Please create a plunker demonstrating the issue and I'll be happy to take a look.

[2017-01-20 11:12] OvidiuBan commented on #99
@Stabzs Sorry mate, this can be closed, this was an issue of trying to use Angular2-toaster with old in memory api / angular 2.1 . Works great

[2017-01-20 11:12] #99 closed

[2017-01-23 05:34] #98 closed

[2017-01-23 06:01] #93 closed

[2017-02-07 06:15] robinkedia opened #100 "Toast messages shows up twice (angular 2.4)"
Hi - After I upgraded from Angular 2.0.0 to 2.4, I see the toast messages are appearing twice.

 this._toasterService.popAsync(this.toastMsg.type, this.toastMsg.title, this.toastMsg.message);

Please advise. Thanks!

[2017-02-07 10:15] robinkedia commented on #98
I get this too in NgOninit() for pop but not for popAsync

[2017-02-07 18:30] Stabzs commented on #100
Hi, can you please create a quick plunker demonstrating the issue?  You can use http://plnkr.co/edit/hkENUhos6q9fhiOHprXO?p=preview as a baseline.

[2017-02-08 03:03] robinkedia commented on #100
From our initial finding, we see if remove routerLinkActive="router-link-active" from html tag. The toast comes up only once else it fires twice. Will try my best to put plunker.

[2017-02-08 03:33] Stabzs commented on #100
You should keep your container reference outside of any routing.

[2017-02-08 04:00] robinkedia commented on #100
What if i have child routing (2 router outlet)

LayoutComponent Html
<routeroutlet>
<app>
    <toaster></toaster>
    <routeroutlet></routeroutlet>
</app>
</routeroutlet>

[2017-02-08 04:19] Stabzs commented on #100
I'd have to see an isolated example in a plunker to say one way or the other.

[2017-02-09 17:45] Stabzs commented on #98
@robinkedia you shouldn't be invoking the toaster service in NgOnInit since it is too early in the component lifecycle.  The reason it works for popAsync is because it lives outside of the lifecycle and most likely is firing after the component is fully rendered.

[2017-02-10 03:30] Stabzs commented on #100
Closing this issue as irreproducible.  If you are able to create a plunker reproducing the issue or you have further details, please add them to the issue and I will be happy to take a look.

[2017-02-10 03:30] #100 closed

[2017-02-12 13:57] anand514 opened #101 "is there any way that i can get component instance when BodyOutputType is Component?"
i have a requirement like i have show some action buttons on toast , so i used BodyOutputType component, but i am unable to access the component that was created .

[2017-02-12 18:47] Stabzs commented on #101
This is well documented in the tests. In addition, you can use this [plunker](http://plnkr.co/edit/Duc4JfIqsa4UnPRFq3pG?p=preview) as a guide.

[2017-02-12 18:47] #101 closed

[2017-02-13 05:19] anand514 commented on #101
Thanks for the quick response @Stabzs
,
i did get what the plunker demo is suggesting, but my requirement is i need an **instance of an component that will create dynamically when BodyType is Component** , so according to the plunker example i need instance of **MaterialComponent** in the class **App**.

My requirement is like in the class App i have to do something when button is clicked on the M

[2017-02-13 20:24] Stabzs commented on #101
@anand514 no problem, I'm happy to keep working through this with you (although I'm keeping this closed as a duplicate at the moment).

I highly recommend you read through this closed issue https://github.com/Stabzs/Angular2-Toaster/issues/84, since it is largely related to what you are trying to accomplish.

In `1.1.0`, the toast object was added to the instance of the dynamically rendered compon

[2017-02-14 09:34] anand514 commented on #101
thanks for clear explanation @Stabzs , initially overlooked the plunker demo that you shared, but now i get it.

[2017-02-14 21:59] Stabzs commented on #101
@anand514 my pleasure!

[2017-02-15 09:36] girishbalanagu commented on #98
Is there any way to display toastr after the ngOninit() method.

[2017-02-16 15:27] Stabzs commented on #98
@girishbalanagu absolutely, there are other lifecycle hooks that you can (and should) use instead.  Look at the [After View](https://angular.io/docs/ts/latest/guide/lifecycle-hooks.html#!#afterview) part of the lifecycle.

[2017-02-27 05:44] draiche opened #102 "IE11 "right" positionClass is ignored when more than one toaster is on the screen"
I was trying to create a plunker for this bug, but IE won't even load any plunker demos of this library for some reason. In IE11 I've found that when using a positionClass of "toast-top-right" or "toast-bottom-right", the toasts are only positioned correctly for the first toast that appears. After a second one appears on the screen while the first one is also still displayed, the toasts ignore the

[2017-02-28 02:05] Stabzs commented on #102
@draiche  thanks for the thorough and detailed information!

IE11 fails for the plunkers due to a missing SystemJS-dependency polyfill  I'll see if I can find a way to "unbreak" these plunkers in IE11 to make it easier to test and report issues in the future.

Thank you also for tested fix.  I'll regress this further and see if it can be applied safely.

[2017-02-28 02:14] Stabzs commented on #102
@draiche http://plnkr.co/edit/hkENUhos6q9fhiOHprXO?p=preview has been updated with the core-js polyfill which solves the IE11/SystemJS plunker issues.

[2017-02-28 02:26] draiche commented on #102
Thanks for the update!

A quick test in the updated plunker isn't producing the issue for me, so I don't really know what to make of that. While I can't imagine what would be messing with it in our application, perhaps it's something on our end... Adding the 300px width as an override did fix it as I mentioned for our app, but if it's not reproduceable elsewhere then I'm not sure what to say.

Eit

[2017-02-28 02:32] Stabzs commented on #102
@draiche I've expanded the above plunker with an explicit configuration override to try to reproduce the issue without any luck:  http://plnkr.co/edit/hkENUhos6q9fhiOHprXO?p=preview.

In the meantime, I think it is reasonable to close this issue as non-reproduceable, but please update the issue if you discover anything else since I definitely want to prevent issues.

[2017-02-28 02:42] #102 closed

[2017-02-28 19:41] jasonspick opened #103 "Cannot set property 'toastId' of undefined"
Getting this error when following these instructions: Getting Started with Default Configuration - Manual Component Inclusion.

I am importing:
`import { ToasterService } from 'angular2-toaster/angular2-toaster';`

setting up constructor:
`private toasterService: ToasterService;

    constructor(
        private http: Http,
        private authHttp: AuthHttp,
        private ts: ToasterService,

[2017-02-28 20:52] Stabzs commented on #103
Hmm, this is a bit odd.  Can you possibly create a plunker demonstrating the problem?

[2017-03-04 03:16] #103 closed

[2017-03-07 07:59] banenen opened #104 "Top center not centerd"
Hello! Great component btw!

But the top center alignment is sligtly to the right.

[2017-03-10 20:13] Stabzs commented on #104
@banenen Thank you very much, glad you're enjoying it!

Thank you for bringing this to my attention.  I'll take a look.

[2017-03-23 13:03] laura2489 opened #105 "Router Navigate after toaster closes"
I am trying to implement a router.navigate back to dashboard after an action is completed and only after the toaster closes. Can you please help me?

[2017-03-24 20:57] rolandoldengarm opened #106 "Update to Angular 4?"
Any plans to update dependencies to Angular 4?

[2017-03-24 22:02] Stabzs commented on #105
Would you be able to create a plunker of what you are trying to accomplish?  Currently there are no 'onClose' events fired, but that may be a reasonable addition.  Another option is to create a component and invoke a service or change state when that component in the toast itself is destroyed.

[2017-03-24 22:03] Stabzs commented on #106
Yes!  I wanted to wait until the dust settled on a full release version but this is a priority!

[2017-03-27 14:11] #105 closed

[2017-03-27 20:42] tomalex0 commented on #106
As angular 4 stable is release, would like to see with updated dependencies

[2017-03-28 05:52] christiancoan commented on #106
As a quick fix, download the src folder and add to your project. Remove the spec files for now and change references. The project does work with angular 4, it just has peer dependencies through npm which prevents compilation on a production build.

[2017-03-30 16:34] #104 closed

[2017-03-30 16:34] #106 closed

[2017-03-30 17:02] Stabzs commented on #94
Closing since this is probably an improper use of the positionClass.

[2017-03-30 17:02] #94 closed

[2017-04-22 15:26] rdanusha opened #108 "How to clear all previous load toasts before loading new toast?"

[2017-04-22 19:21] Stabzs commented on #108
Simple call `toasterService.clear()` with zero arguments and all toasts in all containers will be closed.

https://github.com/Stabzs/Angular2-Toaster#clear-existing-toast

[2017-04-22 19:21] #108 closed

[2017-04-25 10:31] nabuk opened #109 "toasterConfig for toast is always overwritten"
https://github.com/Stabzs/Angular2-Toaster/blob/master/src/toaster-container.component.ts#L99

Toast has toasterConfig property but it doesn't work - is always overwritten.

Possible fix: overwrite only if not provided.

[2017-04-25 16:22] Stabzs commented on #109
The `toast.toasterConfig` property is an implementation detail that is exposed merely for convenience...it is NOT part of the API and this behavior is 100% intentional.

Configuration changes should be made to one of two places, the global toasterConfig which affects all toasts, or parameterized options to toast object construction.  This presents a clearer API, although I agree that it is mislead

[2017-04-26 16:12] #109 closed

[2017-05-03 16:28] shivkumarganesh opened #110 "Why is there no options for Type Customization as well as HTML custom template for Toast?"
I am using this plugin but am facing issues which are as follows:-

1. I did not find a way in which I can have my own icons for specific events
2. I wanted to know a way in which this plugin can take an HTML as an input and generate the template for the toast, i.e Custom Toast

[2017-05-03 19:00] Stabzs commented on #110
I may be misunderstanding your questions, but unless I am, both of these particular issues are already solved and implemented within the library and can be customized to meet your needs.

1.  Yes, you can use your own icons by overriding either the `typeClasses` or the `iconClasses` for the toasterConfig, depending on how thoroughly you need to override the templates.  You can then use your own CS

[2017-05-06 13:36] #110 closed

[2017-05-22 21:39] M1strall opened #111 "AOT compilation fails with strictNullChecks when angular2-toaster included"
Version 3.0.1.
We were using angular2-toaster and recently migrated to Angular4. Now we are trying to enable AOT compilation.
Toaster works fine for Dev and regular builds but
I'm getting following error with AOT build (strict null checks enabled):

[code]

If I open toast.component.ngfactory.ts IntelliJ underlines me following lines:
[code]
toasterConfig.titleClass & toasterConfig.messageClass.

[2017-05-23 05:00] Stabzs commented on #111
In looking into this, compiling the project with the `strictNullCheck` flag set (apologies for not having this set already and thank you for bringing it to my attention) does not seem to cause compile-time issues within the template.

I am creating tests around AOT-centric applications consuming the library to track down the root cause.

[2017-05-23 12:14] M1strall commented on #111
Regular compilation with strictNullChecks does not check html templates,
AOT creates typesafe factories that lead to additional checking in those

On Tue, May 23, 2017, 01:01 Stabzs <notifications@github.com> wrote:

[2017-05-25 10:15] pgrm commented on #111
Can't this be solved simply by using ?. in the template? Or would that cause other issues?

[2017-05-25 18:31] phillipgreenii opened #112 "How to pass in custom data for BodyOutputType.Component?"
I am trying to generate a custom toaster which includes custom error information.  However, there doesn't seem to be any property on `Toast` that I could use to store this custom information.  I tried forcing it in by casting my `Toast` instance to `any`, but then my templates don't compile because the AOT compiler detects in my template that  there is no property of `data` on `Toast`.  What am I

[2017-05-25 18:54] Stabzs commented on #112
It's a little bit unclear what you're trying to do. Typically when using Component you would store the data on the component instance itself, not the toast.

Does http://plnkr.co/edit/GC3c9j?p=preview help you at all?  If not, can you create a plunker illustrating exactly what you are currently attempting?  Thanks!

[2017-05-25 20:56] phillipgreenii commented on #112
So, in the example you have

[code]

How would I initialize `MaterialComponent` with data only known at the time of the pop?

So in my example I have `ErrorComponent` and I need to pass in the error code, message, list of problems, and a timestamp.  The only way I was able to make this work is

[code]

And then in my component

[code]

My properties are now exposed to my template via `data` proper

[2017-05-26 01:24] Stabzs commented on #111
@pgrm I think you hit the nail on the head...this is probably the best solution.

I spent some time working through potentially changing the `ToasterConfig` interface to make those properties non-nullable, but that fundamentally changed the meaning of the interface which isn't at all the right move.

I've made this modification and it works well based on the test suite and the manual tests I've be

[2017-05-26 06:13] #95 closed

[2017-05-26 06:13] #111 closed

[2017-05-26 06:13] #112 closed

[2017-05-26 06:20] Stabzs commented on #112
@phillipgreenii Thanks for the thorough explanation!

No, this was not part of the API.  As a result, I've expanded the `toast.ts` object in a `4.0.0` release to expose a `data: any` property on the toast instance.  This should satisfy your requirements without a cast.

[2017-05-26 06:21] Stabzs commented on #111
This is corrected with an elvis operator in `4.0.0`.

[2017-05-29 00:09] #69 closed

[2017-06-02 15:06] phillipgreenii commented on #112
Everything is working great; thanks for the quick response.

[2017-06-02 18:34] Stabzs commented on #112
You're very welcome!  Thanks for the confirmation!

[2017-06-08 14:34] meakub1010 commented on #25
still not working.

[2017-06-08 14:49] Stabzs commented on #25
@meakub1010 "still not working" doesn't mean anything to me nor does it in any way help describe what issue you're seeing.  If you would be kind enough to create a plunker that clearly demonstrates what you are trying to do and in what way it is not working, i would be more than happy to take a look.

[2017-06-08 15:21] meakub1010 commented on #25
@Stabzs I really liked your prompt response. I can't promise of replicating the issue in plnkr. But here is the brief. I was trying to use it in .net core project with AngularJS 4. Probably because of conflicts with other JS libraries we are using in that project timeout wasn't working as expected.
After timeout span, toast used to loose focus.
Hope that helps :)
Thanks
- Muhammad

[2017-06-08 15:56] Stabzs commented on #25
@meakub1010 this could be a variety of things including bad routing configuration in relation to the container or bad toasterconfig settings.  I can't give you too much assistance without seeing an example but if you're able to put one together, I'll take a look!

[2017-06-13 08:53] c-saw opened #115 "Webpack issue"
I get an error when building with Webpack:

ERROR in [at-loader] ./node_modules/angular2-notifications/src/simple-notifications/services/notifications.service.ts:51:72
    TS7017: Element implicitly has an 'any' type because type 'Icons' has no index signature.

The way I fix it is to change line 51 in the notifications.service.ts from:

[code]

to:

[code]

[2017-06-13 16:15] Stabzs commented on #115
You've opened an issue on the wrong library.

[2017-06-13 16:15] #115 closed

[2017-06-16 06:38] subhani1249 opened #116 "error - (SystemJS) Unexpected token <"
hi,
I have tried to integrate Angular2-Toaster in my project, I am getting this error.
Can you please conform what is the issue ?

(index):19 Error: (SystemJS) Unexpected token <

When I start the app these 2 Toaster related files are loaded
![image](https://user-images.githubusercontent.com/10893928/27214850-1fbf1058-528c-11e7-87dc-5dae630db5ac.png)

i am getting error in app.module.js where i ha

[2017-06-16 20:26] nic-ridder opened #117 "Unable to insert linebreaks in Toaster Body"
Tried `\n`, `\n\n`, `\r\n`, and `<br /> `in the string of the toaster body and to no avail, I can not force a line break within the body of the toaster (easily).

Maybe having the option of using `<pre>` instead of `<div>` would address this?

[2017-06-16 22:22] Stabzs commented on #117
You are most likely not using BodyOutputType.TrustedHtml

[2017-06-17 01:09] Stabzs commented on #116
There could be a number of missing dependencies. Could you please create a plunked that reproduces the issue?

[2017-06-19 16:20] nic-ridder commented on #117
That was exactly my issue.  Thought I searched the documentation thoroughly.  Thanks for pointing that out! 👍

[2017-06-19 16:20] #117 closed

[2017-06-19 16:28] Stabzs commented on #117
@nic-ridder absolutely!  I'm glad to hear that it was that simple.

[2017-06-21 03:03] #116 closed

[2017-06-23 05:49] iwebd commented on #86
I have the same problem..

[2017-06-23 14:33] Stabzs commented on #86
@iwebd if you create a plunker reproducing the issue you're seeing I'm happy to take a look

[2017-06-28 09:35] choui opened #118 "is it suports with i18n?"

[2017-06-29 04:44] Stabzs commented on #118
How would you expect the library to provide i18n support?  You could add this wherever you need with custom components.  If you could provide a specific example of what you need, that would be very helpful.

[2017-06-30 22:57] #118 closed

[2017-07-04 13:00] saransh944 opened #119 "No dismiss option"
One issue with Angular2 Toaster is, it doesn't have a dismiss property or function. It should have a boolean property in the interface which can be triggered from a function. This would be helpful if somebody wants to dismiss the Toaster on route change, etc manually.

[2017-07-04 14:16] Stabzs commented on #119
There is already an option for dismissing toasts, although it is not a "per toast flag" but rather the behavior is driven via `toasterService`.

When you pop a toast, the toast instance is [returned ](https://github.com/Stabzs/Angular2-Toaster/blob/master/src/toaster.service.ts#L50).

You can then invoke the [toasterService.clear](https://github.com/Stabzs/Angular2-Toaster/blob/master/src/toaster.

[2017-07-04 20:40] #119 closed

[2017-07-05 16:05] ArnaudPel opened #120 "Should setTimeout() be run outside the angular zone ?"
This is more of an open discussion that an issue per se.

The gist of it is, an angular2-toaster pop-up makes protractor tests pause until the Angular zone becomes stable again. That is to say, until aforementioned pop-up disappears (timeout completes).

Not only may this slow down the whole testing process, it also makes it nearly impossible to properly test the content of a toaster message (just

[2017-07-06 14:28] Stabzs commented on #120
This is an interesting observation and I really appreciate you bringing it up.

I wonder if the async variant, `toasterService.popAsync()` can be expanded to run outside of the zone whereas today it only relies on `setTimeout()` to make it async.  I'd have to test this to see whether or not it still blocks.

By definition, the sync version SHOULD block, since it's synchronous.  In addition, I don'

[2017-07-07 07:08] ArnaudPel commented on #120
I'm not sure what you mean by 'block' in this context, because as far as the app is concerned, the presence of the toast doesn't block any other activity, which is sort of vital I guess. Regarding my initial question, I believe pop() and popAsync() are on the same page.

If I may try to be more explicit, what got me was that, after the toast has been shown, [the timeout set to make it disappear](h

[2017-07-16 00:13] vbenavidesa opened #121 "No CSS"
@Stabzs,

I create the toast and it is working (I get shown the test for the title and message) but it has no CSS style whatsoever, it just appears on my tags in the html template.
Where should I add the CSS file as I currently add it on my html file but it does nothing. Is there any other way to inject this CSS? I am using the config file to display on top right.

Thank you in advance.

[2017-07-16 02:08] Stabzs commented on #121
Can you please be more specific as to how you are loading the library?

If you import the css manually in your HTML, you should copy the css file into your dist folder.  If you are using webpack, all you have to do is import the css (see https://github.com/Stabzs/Angular2-Toaster#import-css).

If you can please add some specifics around what you're doing, I can point you in the right direction.

[2017-07-16 02:46] vbenavidesa commented on #121
I kind of solved this issue using a cdn to import the css. But another issue emerged... I cannot use the toaster unless there is an specific html tag to target, I wonder if you can inject it somewhere without being targeted to an specific tag.
My problem is that I have an error handler class that handles all errors that can appear when consuming web services like "bad request" or "internal server

[2017-07-16 02:53] Stabzs commented on #121
@vbenavidesa glad to hear you got the CSS import issue solved.

I'm not exactly sure what you want the library to do in that case.  Are you asking if it can attach to the html element or body element instead?  If you need to do that, you should simply put the `<toaster-container></toaster-container>` element at the most root element you possibly can in your application, and definitely outside of y

[2017-07-16 03:15] vbenavidesa commented on #121
Thank you @Stabzs, I completely left that out of my head, I put my container in the root app.component.ts outside of the router and it worked wonderfully, sorry for disturbing your saturday night with such stupid question. Completely blacked out for that!

[2017-07-16 04:32] Stabzs commented on #121
@vbenavidesa no need to apologize!  Glad that met your needs!

[2017-07-16 04:32] #121 closed

[2017-07-16 13:56] #120 closed

[2017-07-16 14:02] Stabzs commented on #120
Sorry for the delay.  I wanted to thoroughly test the change to make sure that there were no adverse effects and I couldn't find any.  This has been published as version `4.0.1`.

[2017-07-17 12:35] stalek71 commented on #76
I started using this component also and having time elapsing indicator could be awesome :)
Do you have any info for us on a progress?

[2017-07-19 16:15] Stabzs commented on #76
@stalek71 I have not spent any time working on this feature, my apologies.  I will try to make time to look into adding progress bars. :)

[2017-07-19 17:34] stalek71 commented on #76
Thanks for the feedback :)

[2017-07-27 09:05] rubyduby opened #123 "Translation features"
How do you guys go about translating toasts?

One would have to use some kind of template to pass into the toasterservice. Any plans on adding translation features?

[2017-07-28 13:18] Stabzs commented on #123
I'll leave this open for a bit for discussion from the community, but no this was never intended to be a feature in angular2-toaster since it would bloat the library and could be achieved via components.

How exactly would you expect the library to handle translation?

[2017-07-31 09:03] deniskkk opened #124 "parameters with custom component"
Is there a way to pass parameters to custom component? for example "message" to show on toaster creation

[2017-07-31 21:50] Stabzs commented on #124
It isn't clear exactly what you are trying to accomplish, but this should be a duplicate of https://github.com/Stabzs/Angular2-Toaster/issues/112.  Please let me know if for whatever reason it doesn't solve your needs.

[2017-07-31 21:50] #124 closed

[2017-08-01 18:45] #123 closed

[2017-08-08 12:57] Newan commented on #123
Example:
        this.translate.get(['key.save', 'key.save_form']).subscribe( (res) => {
          this.toasterService.pop('success', res['key.save'], res['key.save_form']);
        });

[2017-08-14 11:48] arunalexp opened #125 "No css style coming to toaster message."
First of all thank you for this wonderful module. I am facing an issue with this script, when the toaster is rendered in DOM no class or style not is coming.

[2017-08-14 18:12] Stabzs commented on #125
You're welcome!

It is impossible to point you in the right direction without knowing how you're using the library.  Are you able to create a small plunker that reproduces the issue?

[2017-08-18 12:24] #125 closed

[2017-08-31 10:45] sulhome opened #126 "When used in ErrorHandler the toaster doesn't show"
When I use the toaster service inside a class that implements `ErrorHandler` then the toaster doesn't show.

Now if the error is originating from within Angular 2 then the toaster will show but if I am using `atob` function inside a component and `atob` throws an error then the toaster doesn't show and no error will be thrown either, so I can inject the service and I can call it but no toaster is

[2017-08-31 12:39] Stabzs commented on #126
It is unclear exactly how you are using this in relation to an atob call. Can you please create a plunker that demonstrates the issue?

[2017-08-31 12:46] sulhome commented on #126
lets say you have a component that uses `atob` so once that throws an exception then the error handler will handle the error.

so in a component somewhere you do `atob('invalid text')` then that will throw an error, at that point the toaster will not show but if it is a `undefined is not a function` error that occurs in your code then the toaster will show when called from the error handler.

I ho

[2017-08-31 13:00] Stabzs commented on #126
It is quite possible that your atob call is occurring on a worker and not the ui thread, which may prevent angular from patching the call and updating the DOM. A plunker example would be very helpful in identifying exactly what is going on and what steps can be taken to fix it.

[2017-08-31 13:15] sulhome commented on #126
do you have a plunker template that has Toaster already setup that I can use?

[2017-08-31 13:52] Stabzs commented on #126
You can fork this plunker http://embed.plnkr.co/1POpuc1tDpxK7dw1BD5d/ which is running 4.0.0.

[2017-09-01 04:29] ashtt commented on #126
I am facing the same issue, however in my case the pop-up doesn't show for the first time only

This is my custom error handling class -

`import { Injectable, ErrorHandler } from '@angular/core';
import { ToasterService, Toast } from 'angular2-toaster';

@Injectable()
export default class CustomErrorHandler extends ErrorHandler {

  private toasterService: ToasterService;

  constructor(toasterSe

[2017-09-01 04:34] Stabzs commented on #126
@ashtt please use the plunker I posted above to recreate the issue. You are most likely doing something outside of angulars ability to patch but it is unclear from what you've posted.

[2017-09-01 11:59] ashtt commented on #126
https://plnkr.co/edit/RnHhPePzjv0bRFCsiOrl?p=preview

Here, Just click on Products tab, a pop-up appears but, toast does not.
However, on the second click ( anywhere on the page) the previous toast becomes visible.

But, for the first time toast is not there :(

[2017-09-04 02:08] Stabzs commented on #126
@sulhome @ashtt Apologies for the delayed response.  I was trying to understand why this was happening.

It would appear this is an Angular bug, according to https://stackoverflow.com/questions/37836172/angular-2-doesnt-update-view-after-exception-is-thrown

In ErrorHandlers, the DOM simply does not recognize the update patch and since angular2-toaster uses a very non-obtrusive change detection me

[2017-09-04 02:08] #126 closed

[2017-09-11 14:27] 02harleen opened #127 "If page redirect to one component to another component show toaster."
Hi, How possible if redirect one component to another component show toaster. How it is possible please tell us?

[2017-09-11 14:38] Stabzs commented on #127
Redirection has nothing to do with showing a toast.  They are two separate problems. You can show it on componen instantiation or as part of a route complete hook.

If you can provide more details on what you're trying to do, I am happy to attempt to point you in the right direction but this isn't a lack of functionality in the library.

[2017-09-12 03:29] 02harleen commented on #127
Hi, I explain in detail:-

Toaster creates a service and if go to one component to another component show toaster other vise does not show.

[2017-09-14 15:07] ToGoBananas opened #128 "can't use that module with angular-cli optimized builds"
Hi
I am using angular/cli=1.4.2, typescript=2.5.2 and latest version of Angular2-Toaster
I am trying to compile my app like `ng build -e=prod -aot --build-optimizer`, but I have these errors:
![image](https://user-images.githubusercontent.com/5418148/30437418-3d028c1c-9977-11e7-99bd-3854db3d8ff5.png)
my component
![image](https://user-images.githubusercontent.com/5418148/30437470-6019c24c-9977-11e

[2017-09-14 15:10] ToGoBananas commented on #128
It looks like easy issues tp fix, but I just wodering why `BodyOutputType.Default` expression fails

[2017-09-14 15:13] ToGoBananas commented on #128
I think I just need to override configs, but maybe you want to fix that issue

[2017-09-14 23:27] Stabzs commented on #127
This really isn't related to the library and I'm closing the issue. If you'd like to create a plunker I'm happy to try to guide you but this is too broad and unrelated to leave open.

[2017-09-14 23:27] #127 closed

[2017-09-15 00:28] Stabzs commented on #128
This is very curious...the BodyOutputType IS defaulted intentionally. I suspect this is due to the optimize flag attempting dead code elimination and it may believe the property isn't needed. I will try to reproduce.

[2017-09-15 06:13] werts commented on #83
@Stabzs  Anything done?I faced with the same issue,thx anyway.

[2017-09-15 12:53] Stabzs commented on #83
@werts yes the fix was added and the documentation was updated 10 months ago. If you are experiencing the same behavior, please add a plunker reproducing the problem and I will be happy to take a look.

[2017-09-16 14:21] werts commented on #83
@Stabzs thx ,i have done this now

[2017-09-16 15:42] Stabzs commented on #83
@werts I don't see a plunker.

[2017-09-18 12:03] GHR-Arash opened #129 "how to define container once , not in every component"
I would not like to define a container in every component I intend to pop a toaster, I would like to define it once in root component. where application bootstrap but when I do so, I get the error

 No Toaster Containers have been initialized to receive toasts.

[2017-09-18 12:34] Stabzs commented on #129
That is exactly how the library is intended to be used.  Are you declaring your container outside of your router?

It you create a plunker demonstrating the issue I'm happy to take a look.

[2017-09-20 09:47] MassiveHiggsField commented on #129
I dont know if my problem is the same as the original posters, but i've created a repo which produces the same error:

https://github.com/MassiveHiggsField/angular-toaster-test

Just checkout, "npm install" and "ng serve" to start it up.

I think the problem is how i use routes and the user module, specifically this:

https://github.com/MassiveHiggsField/angular-toaster-test/blob/1ecee76dfd8cf72ad

[2017-09-21 15:02] SGDanie1 opened #130 "Check mark"
![screenshot from 2017-09-21 17-45-31](https://user-images.githubusercontent.com/31034579/30702715-55cc2c88-9ef6-11e7-8005-9b6a80c5200b.png)

Should the check mark of "success toaster" look like this or something is gone wrong?

[2017-09-22 19:53] brian428 opened #131 "Problems resolving RxJS classes in ToasterService after prod build"
For folks that manually bundle only a subset of RxJS (only what is used by an app), I would mention in the readme that `rxjs/add/operator/share` needs to be included. I wasn't including it, and it took some debugging to figure out that I needed to add it.

[2017-09-22 20:38] brian428 commented on #131
Never mind (for now at least). I've got some other problem going on (`Observable is not a constructor` error). Which is bizarre, because I use Observable all over my own app code. Anyway, sorry for the false alarm.

[2017-09-23 15:38] Stabzs commented on #131
Thanks for the update and please feel free to reopen this thread if additional documentation is needed.

[2017-09-23 15:39] Stabzs commented on #130
Something has gone wrong. Can you please create a plunker that demonstrates the issue?

[2017-09-25 09:52] rrohitesh opened #132 "Can we override the css"
I want to know can we override the default css? If yes then how i tried !import but its not working.

Thanks in advance.

[2017-09-25 13:02] Stabzs commented on #132
Yes you can. What you tried and what are you trying to do?

[2017-09-25 13:03] #130 closed

[2017-09-25 15:30] brian428 commented on #131
Stabzs, I wanted to follow up on this to see if you have any ideas. If you'd rather not deal with "support requests" here, just let me know and I'll understand. But since you're doing the bundling I thought maybe you'd have an idea here.

I'm using Minko's angular-seed project, which uses SystemJS. I can add the angular2-toaster UMD bundle to my SystemJS config. In dev mode, everything is fine. Bu

[2017-09-25 19:54] devakone commented on #129
@MassiveHiggsField  I use lazily loaded modules and I also run into the same issue.

[2017-09-25 23:27] Stabzs commented on #131
@brian428 This is really curious...

It would seem that something in either the AoT or the bundling step is removing the imported references via some form of what it thinks is dead code elimination.

However, without a bit more information, it is really difficult to help provide additional direction or determine if there is currently a bug in rxjs imports within angular2-toaster, which could be po

[2017-09-26 03:16] brian428 commented on #131
Here's a bare-bones example of the angular-seed project with angular2-toaster.

To start with, do an `npm install` and then `npm start`. You'll see everything works fine.
Stop the app, then start it again with ``npm run serve.prod.aot` to see the `Observable is not a constructor` error`.

I don't think the imported references are being "removed", it seems more like the lookup of the RxJS types is

[2017-09-26 03:18] brian428 commented on #131
Oh, to save you a bit of time (maybe?), SystemJS is configured to include angular2-toaster in `angular-seed-toaster/tools/config/project.config.ts`, line 55.

[2017-09-26 03:24] Stabzs commented on #129
All, sorry for the delayed response on this thread.

@MassiveHiggsField thanks for the helpful reproduction.

Due to ToasterService being bundled as a provider within the ToasterModule, it is instantiated when loaded.  It seems that loading the container apart from the service is causing the original subscriptions to get replaced and not bound to the correct container instance.  Moving the Toaster

[2017-09-26 14:40] Stabzs commented on #131
@brian428 I spent quite a bit of time on this last night and this is pretty odd.

The require statements for the umd angular2-toaster file are exactly the same format as any of the imported angular files and you can see that reflected in the prod build:

angular2-toaster:
`"object" == typeof exports && void 0 !== module ? factory(exports, require("@angular/core"), require("@angular/platform-browse

[2017-09-26 14:55] devakone commented on #129
@Stabzs shouldn't the ToasterModule by default be offered with a `forRoot` method to ensure that the ToasterService is primarily served as a singleton?

[2017-09-26 15:30] brian428 commented on #131
I pinged Minko via his project just to see if a quick look over the symptoms here reveals any answers. He's a really busy guy, so I'm not sure if or when he'll be able to take a peek, but I'm hoping he might have some idea of what could be going on.

[2017-09-26 16:18] Stabzs commented on #129
@devakone I'm looking into that as an option although there are concerns with `forRoot` being called from a shared module due to memory leaks.

When exposing a `forRoot` implementation, my understanding is that it should literally only be called in the application root, which isn't the pattern that @MassiveHiggsField is using with a shared module.

It might be necessary to expose both a `forRoot`

[2017-09-26 16:21] devakone commented on #129
You hit it right on the head. I was going to suggest the `forRoot` providing the service and the container component and `forChild` only providing the container component, this way you can ensure that a singleton version of the service exist that can handle the proper hydration of the created components.

[2017-09-26 16:22] MassiveHiggsField commented on #129
First of all, thanks for the effort @Stabzs :+1: and @devakone for the additional input.

But since it requires a major version and these things normaly take time, do you have some advice for me for now?

[2017-09-26 16:43] devakone commented on #129
@MassiveHiggsField i would recommended keeping the course for now until the update which I don't think will take such a long time. In my case, I just redefine the container at the root component of my lazily loaded module and it works then for all components within that lazily loaded module. A small price to pay for now.

[2017-09-26 16:46] Stabzs commented on #131
@brian428 thanks :).

I'm starting to think that whatever Observable is getting injected into `angular2-toaster` has been shimmed earlier, but I can't find where that is happening.  It doesn't seem to be the same object as in other instances however so perhaps it is an import order problem.

[2017-09-26 16:48] Stabzs commented on #129
@MassiveHiggsField @devakone I would agree.  The easiest solution is to import the ToasterModule in layout (since that is where you are rendering the component).  That'll unblock you and when I tested it in your code, it worked just fine.

[2017-09-27 01:13] #132 closed

[2017-09-27 04:58] Stabzs commented on #131
@brian428 I've spent quite a bit more time on this.

I've rebuilt the rollup-config to match all of the `@angular` packages which bloats out the unminified umd from 25kbs to about 120kbs with no luck.  I've downgraded typescript to 2.3.x and SystemJS to 0.19.x and that was also fruitless.

I even rebuilt the Observable constructor functions to use the .create helpers instead, hoping maybe the cons

[2017-09-27 07:48] MassiveHiggsField commented on #129
Alright, thanks for the suggestions :)

[2017-10-06 10:09] AlexTamminen commented on #132
@Stabzs How would we go about to override these styles? As the OP I have also tried !important but it has no effect.

[2017-10-12 15:28] AshMcConnell opened #133 "Occasionally Slow toasts"
I'm not sure how to describe it, but we occasionally get toasts that are delayed.  I output a console.log and it could be 10-20 seconds before the toast appears.

Can anyone think of any reason that this would be the case.

**Note**  I am on Angular 4.4.4 and it seemed to work fine on Angular 2

[2017-10-12 19:45] Stabzs commented on #133
This is most likely an implementation issue in your code.  Can you provide a reproduction of the issue in a plunker?

[2017-10-15 17:20] #133 closed

[2017-10-18 17:33] im1dermike opened #134 "document is not defined"
I set everything up and I get a "document is not defined" error after loading the `BrowserAnimationsModule`.  FWIW, this was added to a `dotnet new angular` [project](https://www.npmjs.com/package/generator-aspnetcore-spa).

[2017-10-19 15:00] krustypop commented on #86
Hi,
i have the same issue. When pop method is used in an observable subscribe, the toaster does not show. It perfectly works when i use it out of this context.
The shitty workaround i made is to simulate click... sadness :(
I just want to display a toaster if my POST req is a success.

If you have any tips !

Thks a lot buddy and thks for your work :)

[2017-10-19 15:09] Stabzs commented on #86
@krustypop sorry to hear you're experiencing the same thing. Would you be able to put together a small reproduction so that I can investigate?

[2017-10-19 15:36] krustypop commented on #86
Here it is @Stabzs

`
import { Component, Input, Output, EventEmitter } from '@angular/core';
import { CityService } from '../../services/city.service';
import { NgbActiveModal } from '@ng-bootstrap/ng-bootstrap';
import { ToasterService } from 'angular2-toaster';
import { Observable } from 'rxjs';
import { City } from '../../models/city';

@Component({
  selector: 'app-modal',
  template: `
    <

[2017-10-20 06:05] Stabzs commented on #134
Can you please provide a small reproduction?

[2017-10-23 12:47] #134 closed

[2017-10-25 03:55] pedropapa opened #135 "Global container using LocationStrategy and module routing"
Hello.

I wonder how can I use a single container in the app root and let every `toasterService` call refer to that container.

The reason I want it is to avoid the toast message from disappearing while showing it and changing route at the same time. For example: In the /login route, the user logs in and the message "Login succeed" is shown, then I need to redirect the user to the logged route rig

[2017-11-03 10:17] natcohen opened #136 "Support for angular 5"
Is there a plan to support angular 5? When installing with npm, a warning shows up.

[2017-11-03 10:50] dgsqrs commented on #136
+1

[2017-11-06 20:39] tontisimo commented on #126
@Stabzs I tried wrapping my calls `toasterService.pop()` calls in `setTimeout()` but I have the same issue - whenever I pop a toast from the error handler the toast doesn't show anywhere on the page unless I click somewhere on the page.

How can I check what version of angular is being used? It looks like it's 4.4.4 from the project package.json, but not sure which package I should be looking at t

[2017-11-06 22:45] Stabzs commented on #126
@tontisimo `angular2-toaster` doesn't provide any angular dependencies, so it is up to your application to provide it.

It should be the `@angular/core` package and 4.4.4 should be fine.  If you are still experiencing issues, please create a small reproduction in plunker and I'd be happy to take a look.

[2017-11-07 00:29] tontisimo commented on #126
@Stabzs It's using 4.4.4 then. I'm using angular CLI and not sure how to easily make a plunkr.

But using CLI, if you just make a custom error handling class, register that in the app module, provide angular2-toaster as a service to the custom error handler and then show a toast in the handleError method, the toast won't show until you click somewhere on the interface.

[2017-11-07 03:15] Stabzs commented on #126
Does the same issue exist in angular version 4.1.1 in your app?

[2017-11-07 18:19] tontisimo commented on #126
@Stabzs Yes it's still a problem with 4.4.4, 4.2.4 and 4.1.1.

If you throw an error by clicking a button (for example) then the toast will show. But if you programatically throw an error then the toast won't show (unless you have another button to click - then it will show).

If you just create a new CLI project, `ng new toast-test`, then cd into the test directory, `npm install angular2-toaster`

[2017-11-07 18:47] tontisimo commented on #126
@Stabzs

If you update the my-error-handler.ts file to the following, then you can get the toast to show. I guess this is good enough for me for now, actually. But if you want to play around with the code, maybe you can work out what's happening (but it's definitely related to change detection and error handling).

**my-error-handler.ts**
[code]

[2017-11-16 14:22] Stabzs commented on #136
Thanks for opening the issue.  Yes, the library will be rebuilt and re-pinned to Angular 5.  I haven't had time yet but it is a priority for the near future.

[2017-11-16 14:23] Stabzs commented on #135
@pedropapa sorry for the delay on responding to this issue.  Can you provide a plunker that demonstrates how you are currently architecting your application?  Using a single container in the app root is the currently recommended strategy for exactly the type of behavior you are trying to accomplish, but without seeing how you have structured your project, it is very difficult to provide any insigh

[2017-11-21 18:13] karclouds commented on #136
Try this. forked and modified version for Angular 5. https://github.com/karclouds/Angular5-Toaster

[2017-11-28 15:47] engineers-nemanjag opened #137 "Toaster not dissapearing - Angular 5"
This is how my toaster is configured:

[code]

The problem is that it doesn't disappear, it only disappear if i move mouse over it after the 5s (the timeout). Any advice?

[2017-11-30 04:46] sambanthar commented on #137
i am facing the same problem but i move over to the toaster its dissapearing

[2017-11-30 12:51] korayguclu commented on #98
How can i call the popup in error handler. I am getting the same error

`import { ToasterService, Toast } from 'angular2-toaster';
@Injectable()
export class AppErrorHandler implements ErrorHandler {
  constructor(private injector: Injector) {
  }

  handleError(error) {
    const toasterService = this.injector.get(ToasterService);
    let toast: Toast = {
      type: 'error', data: 1,
      onHid

[2017-12-04 15:47] sulhome commented on #136
I think as a workaround if you just import `BrowserAnimationsModule` then it should work for now
I had an issue where the text was not showing on the toast until I hover over it
after adding `BrowserAnimationsModule` to my import the issue seems to disappear.
[code]

[2017-12-04 15:48] sulhome commented on #137
I think as a workaround if you just import `BrowserAnimationsModule` then it should work for now
I had an issue where the text was not showing on the toast until I hover over it
after adding `BrowserAnimationsModule` to my import the issue seems to disappear.
[code]

[2017-12-04 15:52] engineers-nemanjag commented on #137
I found the solution, just deleted the timeout from my configuration... Dumb but hey, it dissapears

[2017-12-04 15:52] #137 closed

[2018-01-03 21:50] GabCeb95 opened #139 "Close button is not responsive"
Hi,

We found an issue with the responsive design(you can check it on your demo app on plunkr), the "X" goes to the right bottom of the box when the window is smaller...

Thanks!

![image](https://user-images.githubusercontent.com/18234563/34541408-b1a9957e-f09d-11e7-8913-af53f51cbb78.png)

[2018-01-05 21:02] #135 closed

[2018-01-25 04:27] #136 closed

[2018-01-25 04:28] Stabzs commented on #136
This is published under 4.0.2.  Apologies for the delay.

[2018-01-25 21:04] jzoss opened #140 "'toaster-container' is not a known element:"
So.. I'm using Angular 5.2.1, with webpack and have a issue. No matter what I do, how I include it I always get a 'toaster-container' is not a known element. This happened after I upgraded from v4 to v5.

I  don't have this with any other 3rd party component, but it still could be 100% my fault in someway.

[2018-01-25 21:19] Stabzs commented on #140
@jzoss I'll take a look.  What version of webpack are you using and how are you including the library?

[2018-01-26 18:14] kspearrin commented on #76
Also looking for this feature since it was available in the AngularJS toastr version we were using prior.

[2018-01-26 18:42] jzoss commented on #140
webpack v: 3.8.1

I tried using all the method on the readme to get started.

[2018-02-02 08:42] matzrm opened #141 "Show inside a container"
I would to show the toast inside a container, and not in a floating position inside the page. Is it possible?

[2018-02-02 14:52] Stabzs commented on #141
Can you please a more concrete example of what you'd like to be able to do?

[2018-02-02 16:09] KatzeKahn opened #142 "Provide minimized CSS file"
It would be very nice, if you could also provide a minimized CSS file via NPM (toaster.min.css).

[2018-02-02 18:57] matzrm commented on #141
For example, I want to show the alert upon a form, so not show it in the middle/top/bottom of the page but in a specific position.

[2018-02-02 19:48] Stabzs commented on #140
@jzoss I'm closing this as not reproducible.  I've pushed a new commit to the webpack demo that demonstrates how to wire in the library, using the latest version of `angular2-toaster@4.0.2` and using the latest Webpack and angular versions.

Please see https://github.com/Stabzs/Angular2-Toaster/tree/master/demo/webpack and feel free to ask any additional questions or provide a repo and I'd be happ

[2018-02-02 19:54] Stabzs commented on #141
@matzrm you could in theory embed a toast container directly in your form, although you'd then need to add positioning overrides to force it into the right location.  This level of customization probably wouldn't be driven by the library itself (since it isn't a common ask and it largely depends on the needs of the consumer) but it absolutely could be done by you if you styled it as such.

[2018-02-04 05:26] #141 closed

[2018-02-22 16:03] karoliina opened #144 "Multiple toaster containers: A single config is used for all toasts"
In my application I want to use two separate toaster containers, each of which has its own toaster config. I can then display toasts in a particular container by using the container ID I've assigned in its config object.

What happens, though, is that the toast object's config is always overwritten by the config of the `ToasterContainerComponent`  whose `addToast` method happens to be called last

[2018-02-22 17:27] Stabzs commented on #144
@karoliina I think there is some misunderstanding here.

The configuration of the container is added to the toast instance for easier internal tracking.  That said, you cannot pass container configuration via a toast.  Rather, there is a fairly sophisticated API for the ToasterService that allows a good deal of customized overrides the behavior of the container drawn from the toasterConfig.

The n

[2018-02-22 18:35] karoliina commented on #144
I may have explained my use case badly, and have forked and edited your demo to show what I'm trying to do. See [here](https://github.com/karoliina/Angular2-Toaster/blob/fbbd80e4253072c83b4f9261059a4da223a0c2dd/demo/angular-cli/src/app/app.component.ts). When I run this demo, one of the toast titles should be blue and the other red, but they both show up in red.

I'm not trying to pass the contain

[2018-02-22 18:42] Stabzs commented on #144
@karoliina thanks for the further explanation.

This may be due to some bad configuration code that should be fixed in 5.0.0-alpha.1.  Can you please upgrade against the alpha release and see if the issue still persists?  You can find setup instructions of the new release here: https://github.com/Stabzs/Angular2-Toaster/blob/5.x.x/Target_Angular_5/README.md

[2018-02-22 19:02] Stabzs commented on #144
@karoliina Actually, after taking a closer look at your example, i don't see where you actually pull styles.css into your bundle.  Are you sure that the style is actually ever being applied?

[2018-02-22 19:06] karoliina commented on #144
Thanks, I'll try with 5.0.0-alpha.1.

The CSS file is being included in `.angular-cli.json` [here](https://github.com/karoliina/Angular2-Toaster/blob/fbbd80e4253072c83b4f9261059a4da223a0c2dd/demo/angular-cli/.angular-cli.json#L23). When I run the example, both notification titles are red.

[2018-02-22 19:31] Stabzs commented on #144
@karoliina I'll pull down your example and take a closer look in that case.  Thanks for confirming!

[2018-02-22 19:38] karoliina commented on #144
Sounds good. Unfortunately 5.0.0-alpha.1 doesn't solve this - I've pushed a separate commit that upgrades Angular as well as angular2-toaster to the latest versions.

[2018-02-23 05:05] Stabzs commented on #144
@karoliina I've identified the issue.

Toasts that are broadcasted to multiple containers are actually still the same toast instance.  This is useful in cases where you want to update the returned toast and have that update be reflected in each toaster container toast instance.

However, in this case, two properties, titleClass and messageClass, truly need to be scoped to the container instead of

[2018-02-23 05:06] Stabzs commented on #142
This is currently exposed in 5.0.0-beta.1 and will be part of the 5.0.0 release.

[2018-02-23 05:07] Stabzs commented on #139
This is currently fixed in 5.0.0-beta.1 and will be released in the full 5.0.0 release.

[2018-02-23 05:08] Stabzs commented on #129
This is currently added in 5.0.0-beta.1 and will be released in the full 5.0.0 release.

[2018-02-23 05:09] Stabzs commented on #128
This is currently fixed in 5.0.0-beta.1 and will be released in the full 5.0.0 release.

[2018-02-23 05:10] Stabzs commented on #131
@brian428 I still don't have an answer on this, but I'd like to know if it is still a problem when targeting Angular 5, especially in conjunction with the latest angular2-toaster@5.0.0-beta.1 build.  I'd appreciate your feedback when you have time.

Thanks!

[2018-02-24 15:57] #144 closed

[2018-02-24 16:11] Stabzs commented on #142
Released in 5.0.0.

[2018-02-24 16:11] #142 closed

[2018-02-24 16:11] Stabzs commented on #139
Released in 5.0.0.

[2018-02-24 16:11] #139 closed

[2018-02-24 16:11] Stabzs commented on #129
Released in 5.0.0.

[2018-02-24 16:11] #129 closed

[2018-02-24 16:11] Stabzs commented on #128
Released in 5.0.0.

[2018-02-24 16:11] #128 closed

[2018-03-07 12:38] the01 opened #147 "Webpack (demo) problem"
I was having trouble getting it up and running in an angular-webpack app (macOS) and got the following error:

[code]

So I tried the demo:

[code]
which threw the following error:

[code]

On a side note: wouldn't it be a better example, if the actual version from npm was used?

[2018-03-07 12:54] the01 commented on #147
However, version 4.0.1 seems to work

[2018-03-07 15:20] andrewpmontgomery opened #148 "Angular CLI build fails because typeClasses and iconClasses have no index signature"
Bug report
---

When I create a new project using angular-cli (v1.7.2) and Angular2-Toaster (v5.0.0), `ng build` returns the following error:

[code]

This is because `toaster-config.ts` has the following definitions:
- `typeClasses?: Object;`
- `iconClasses?: Object;`

and `toaster-container.component.ts` has the following HTML template:
- `[ngClass]="toasterconfig.typeClasses[toast.type]"`
- `[i

[2018-03-07 16:27] Stabzs commented on #147
The demo is very useful for testing the latest build locally by mapping it.  Alternatively, you can replace the webpack pathing alias, reinstall all `@angular` and `angular2-toaster` dependencies directly from NPM and run it.

[2018-03-07 16:43] #131 closed

[2018-03-08 11:56] maxailloud opened #150 "Using `fullTemplateTypeCheck` flag in the typescript `angularCompilerOptions` raise an error"
I was updating the `angularCompilerOptions` in my `tsconfig.json` file for an external module I am developing and here is the error I got when I turned on the [`fullTemplateTypeCheck`](https://angular.io/guide/aot-compiler#fulltemplatetypecheck):
[code]

I guess the compiler doesn't like the use of the `any` type at line [86](https://github.com/Stabzs/Angular2-Toaster/blob/master/src/toaster-conta

[2018-03-08 16:20] Stabzs commented on #150
This is actually a duplicate of https://github.com/Stabzs/Angular2-Toaster/issues/148 and Andrew was kind enough to create a PR for the fix which I'll fold in.

That said, this is useful because it explains why I missed it...I didn't know about the fullTemplateTypeCheck flag and I did NOT turn it on.  I'll make sure to add that to the AOT compilation so that these issues are preemptively caught go

[2018-03-08 16:23] maxailloud commented on #150
Oh I didn't see this one my bad.
Ok perfect.

You are welcome.

[2018-03-08 16:24] Stabzs commented on #150
No problem at all and again, thanks for pointing out the flag.  This will get folded into a release today.

[2018-03-09 16:29] Stabzs commented on #150
@maxailloud could you give me a very specific example of exactly how to generate the compiler warnings?  I've spun up new angular-cli projects running against 1.7.1 and 1.7.3 and I can't seem to generate the warning.   Thanks!

[2018-03-09 16:38] maxailloud commented on #150
I am using https://www.npmjs.com/package/ngm-cli to build an external module for my applications, basically it's a wrapper for `ngc`. An so I am not using `angular-cli` in this project.

Adding the compiler options in my tsconfig.json raised the error:

[code]

I am obviously using the angular-toaster module in one of the few modules in my package.
After I cannot really show you the code, company

[2018-03-09 16:40] Stabzs commented on #150
Completely understandable and this is very helpful, thank you!!  What mode is ngc running in for your project or are you not passing any sort of flag to ngc?

[2018-03-09 16:43] maxailloud commented on #150
The only thiing I can tell you is that the command `ngc -p /Users/max/workspace/core/.tmp` is launch by `ngm-cli`, among other things. The `.tmp` folder being the folder where all of my code has been moved and inlined (external template and style).
I get to see the executed command when there is an error like this one, otherwise it's completely transparent to me.

[2018-03-09 16:45] Stabzs commented on #150
I still can't reproduce this issue with those flags and angular-cli.  I'm going to build a sample with ngm-cli and see if I can create a reproduceable example.

I want the example so that I can catch this sort of thing during development going forward.   Thanks for the information!

[2018-03-09 16:47] maxailloud commented on #150
Yeah I think angular-cli and ngm-cli have some difference even though they should both using ngc as compiler. But after angular-cli uses webpack too I think to build, correct me if i'm wrong, the difference might be from that.

[2018-03-10 02:07] Stabzs commented on #148
@andrewpmontgomery I've actually failed to reproduce this now in several attempts.  Can you please describe the base configuration required to reproduce this?  i want to make sure the project is properly configured to highlight these issues going forward.

[2018-03-15 17:20] andrewpmontgomery commented on #148
You can reproduce the problem in your latest branch simply by changing:
`"suppressImplicitAnyIndexErrors": false,`
to
`"suppressImplicitAnyIndexErrors": true,`
in the `tsconfig-aot.json` file.

I can't reproduce this in a sample consuming application, so perhaps something has changed in angular-cli or another package.

[2018-03-16 21:12] #147 closed

[2018-03-16 21:12] #148 closed

[2018-03-16 21:12] #150 closed

[2018-03-19 08:41] darklinki opened #153 "Inline Style"
This may be a totally dumb question but I don't get it.

I try to use inside of the body inline styling like:

` <div style="width: 200px;">`

The tags it self works but the style gets removed and I receive the following message:
WARNING: sanitizing HTML stripped some content (see http://g.co/ng/security#xss).

I already set bodyOutputType: BodyOutputType.TrustedHtml,

Edit: Class definition doesn

[2018-03-19 14:57] darklinki commented on #153
First: With this.sanitizer.bypassSecurityTrustHtml on the body input I got it working.
My only problem is now the fixed with of 300px. How do I change the size of the toaster without touching the default css ?

[2018-03-19 15:23] Stabzs commented on #153
@darklinki correct, Angular will prevent the content unless you explicitly mark the element as bypassing normal security levels.

As long as you load the toaster.css before your custom css, you can override the width to your liking:

[code]

[2018-03-20 22:15] #153 closed

[2018-03-21 11:51] darklinki commented on #153
@Stabzs  @Stabzs Ty yes, I will get it to work some how.
Would be cool if it will be a feature anytime. Like the position.

[2018-03-25 08:19] kamleshKumarVerma opened #154 "There should be option to change the toaster position . like in bottom"

[2018-03-25 13:51] #154 closed

[2018-03-25 13:52] Stabzs commented on #154
This has always existed, it just wasn't documented properly.  I've updated the documentation accordingly: https://github.com/Stabzs/Angular2-Toaster#container-position

[2018-03-26 19:55] Stabzs commented on #153
@darklinki I'll have to give that some thought.  Ideally I'd prefer that this is managed via SCSS variable compilation or drop-in CSS overrides since this probably isn't a common first-class use case and could potentially affect the responsive design.  It is something I can take a closer look at.

[2018-03-27 04:14] luishmcmoreno commented on #137
I found the solution just updating the angular2-toaster module from 4.0.0 to 5.0.1.

[2018-03-29 17:18] gszumiec opened #155 "Toast not show on errorHandler when error is throw by http request"
Toast not show on errorHandler when error is throw by http request.

ErrorHandler implementation:

`import { ErrorHandler, Inject, Injectable } from '@angular/core';
import { NotificationService } from 'services/notification/notification.service';
import { HttpErrorResponse } from '@angular/common/http';
import { ToasterService } from 'angular2-toaster';

export class Message {
  name: string;
  m

[2018-04-01 18:45] Stabzs commented on #155
I cannot reproduce this error and your example code is a bit convoluted so I can't run it verbatim.

If you can create a minimal git repo that fully reproduces the problem, I'll be happy to take a closer look at it.

[2018-04-02 21:46] dougmolineux opened #156 "tapOffToDismiss Config Suggestion"
Thank you for this useful module. We are using this to display an error message indefinitely (no timeout) with a greyed out background, but the components behind it are still clickable and functional.

Ideally, if the user clicks anywhere on the screen (on or off the toast itself) we wanted to dismiss the toast.

Perhaps there is another we could achieve this? Please advise,

Thanks again!

[2018-04-02 22:05] Stabzs commented on #156
Glad you're finding the library useful!

This is a tough situation based on your current implementation.  You're essentially requiring that the toast be aware of click events outside of its context.

My recommendation would be to avoid this type of tight coupling.  Toasts should only be aware of their contexts and their toaster-containers should instead be responsible for handling anything that oc

[2018-04-02 22:10] dougmolineux commented on #156
Thank you very much for your quick response! I will investigate these options and figure something out :)

👍

[2018-04-02 22:10] #156 closed

[2018-04-02 22:12] Stabzs commented on #156
My pleasure!  Feel free to respond to this thread if you need additional clarification.

[2018-04-03 10:28] Rethary commented on #155
Hello I have the same issue if I will not fix it I will try to make you the small repo. But first question.

My issue is that when I use your code like in your examples it's ok. f.e.

private popToast() {
    var toast: Toast = {
      type: 'info',
      title: 'e',
      body: 'Here is a Toast Body',
      showCloseButton: true,
    };

    this.toasterService.pop(toast);
  }

but when I use the

[2018-04-05 07:04] sherlock1982 opened #157 "Feature request: specify toastId when creating toaster"
When I call pop like this toastId will be rewritten inside library:

        const toast = this.toasterService.pop({
            type: 'chat',
            toastId: '100',
            body: ChatToastAdapterComponent,
            data: message
        });

I know I can change toastId in returned value but that will break timeouts logic.
If I want to remove toaster identified by '100' and add a new o

[2018-04-05 14:58] Stabzs commented on #157
Is there a reason you can't map the returned toastId to your internal id once the toast is popped?

Allowing for manually created toastIds tends to cause a number of issues for multiple container use cases. I'd prefer not to expand the API in this way unless absolutely necessary.

[2018-04-05 15:09] sherlock1982 commented on #157
There's no reason I can't map. But to map I will need to write additional code which is simply avoidable if I can provide toastId.
Another option will be a function to close toaster by predicate. For example close a toaster which data satisfies some condition.

Just to give you an idea:
For example I receive a chat message from 'John'. Now I receive a second message and I want to replace previous

[2018-04-05 15:28] sherlock1982 commented on #157
Looks like I found another way.
There's hide and show callback.
So I can remove from internal map on hide callback and add to map on show callback.
It's a way to organize map easier.

[2018-04-07 17:33] Stabzs commented on #155
@rethary thanks for looking into it further. There very well may be something in Angular's reactivity that is unaccounted for in the library since the focus is components first. That said, I would like to solve the issue if at all possible. Are you able to create either a minimal plunker or repo that demonstrates the behavior?

[2018-04-07 17:35] Stabzs commented on #157
I'm glad you found a workaround. I'm still considering merging in your PR and making it a first class citizen of the API but I need to review duplicate toast checks first to make sure the behavior will remain consistent.

[2018-04-28 16:19] RoraxHan opened #159 "css is not working"
@import 'node_modules/angular2-toaster/toaster';

I added above code to my component's scss file to work toaster correctly.
component is in the app/pages/my-component
but toaster is appearing at the bottom. css is not imported. what's wrong?

[2018-04-28 16:25] Stabzs commented on #159
Impossible to tell from your description.

Can you please create an example that demonstrates the problem please?

[2018-04-28 17:10] RoraxHan commented on #159
![screen shot 2018-04-29 at 1 07 30 am](https://user-images.githubusercontent.com/25556402/39399059-c852b916-4b49-11e8-8b9b-17cc6aefd831.png)

toast is displaying like this.
my component is in the app/pages/upload-csv.

So I added the following code to app/pages/upload-csv.scss

`@import 'node_modules/angular2-toaster/toaster';`
but the problem is not solved.

[2018-05-01 00:13] Stabzs commented on #159
I’m sorry I missed your update.

What happens if you include the scss higher in the component tree?

[2018-05-03 23:11] nscdde02 opened #160 "How can I pass custom data to CustomComponent on BodyOutputType.Component"
Hi @Stabzs ,

I need be able to send custom data to the CustomComponent as `@Input` or similar to be able to display custom messages and custom templates.
I found this #112 ticket, but the shared plunker is not working anymore.

Here is my code to call the Toast.

[code]

And in my ToasterBodyComponent here is the HTML:
[code]

I know that I am missing something, but when I add the `public toast:

[2018-05-04 02:17] nscdde02 commented on #160
I found the solution, thanks anyway I will close the ticket.

[2018-05-04 02:17] #160 closed

[2018-05-04 09:21] KhodeN opened #161 "Please add support for Angular 6.0"
Angular 6.0 uses RxJS 6.x

Now `angular2-toaster 5.0.1` fails on compile:
[code]

I can use `rxjs-compat` module, but it is workaround

[2018-05-05 15:27] #159 closed

[2018-05-11 19:34] dgsqrs commented on #155
I have the same problem after upgrading to angular 6. This is probably an rxjs related error no ?

[2018-05-13 16:00] ddahan opened #163 "Toast is not displayed in AfterViewInit method"
I'm trying to pop a toast on a `ngAfterViewInit` method, without success.

**The code**

    @Component({
      selector: 'app-team-member-menu',
      templateUrl: './team-member-menu.component.html',
      styleUrls: ['./team-member-menu.component.css']
    })
    export class TeamMemberMenuComponent implements AfterViewInit {

      defaultToasterConfig = defaultToasterConfig;

      constructo

[2018-05-13 18:13] Stabzs commented on #161
I'll be looking to get an Angular 6 release pushed soon.  Sorry for the delay.

[2018-05-13 18:14] Stabzs commented on #163
This is most likely due to running Angular 6 against the library prior to upgrade.

I am in the middle of creating an Angular 6 target release and I'll test your scenario against it.

[2018-05-14 11:11] Plackier opened #164 "Toast disappears when mouse moves over it"
** Tools & frameworks **

- @angular: 5.2.8
- angular2-toaster: 5.0.1
- etc.

**The code:**
In some service method I've got:
[code]

The config for the toaster container has default timeout value (5000ms).

**The behaviour:**

Toast shows up on the page, and then when user hovers mouse over it, and continues moving over it a little, the toast immediately disappears, despite the fact it had configu

[2018-05-14 22:32] #157 closed

[2018-05-18 02:00] fcalderon opened #165 "Add CONTRIBUTING file"
Hi there, thanks so much for this project, I love these toasts.

I noticed that there isn't a CONTRIBUTING file. If contributors are welcomed to suggest changes via PRs, can you please add a CONTRIBUTING file? This file might even be useful if contributions are not welcome!

Thanks!

[2018-05-18 12:58] anth0 commented on #161
Any news on the planned release?

[2018-05-19 07:36] razfriman commented on #161
This is being worked on in: https://github.com/Stabzs/Angular2-Toaster/pull/162

[2018-05-19 20:05] #155 closed

[2018-05-19 21:39] Stabzs commented on #164
This has been released in version 5.1.0.

[2018-05-19 21:39] Stabzs commented on #157
This has been released in version 5.1.0.

[2018-05-20 00:00] Stabzs commented on #165
This is a great suggestion and while it isn't one that is necessarily a priority, it certainly would add value to the project.  This is something I will try to get to.

[2018-05-20 01:30] #161 closed

[2018-05-20 01:31] Stabzs commented on #163
Please test this against the new 6.0.0 release and confirm if it is still an issue.  Thanks!

[2018-05-20 10:10] ddahan commented on #163
Hi,
After upgrading to 6.0.0, it still have the exact same problem.

[2018-05-20 17:19] Stabzs commented on #163
Thanks for confirming. I’ll take a closer look.

[2018-05-20 18:04] Stabzs commented on #163
I can't reproduce this in the angular-cli demo app.  AfterViewInit properly fires a toast and it display for the correct duration.

Do you have a conflict where your `toaster-container` is being loaded in a sibling component or even AFTER `TeamMemberMenuComponent` is loaded?  You should always render your `toaster-container` as far up the component tree as possible and as early as possible so that

[2018-05-22 12:59] shanmugam-sekar opened #168 "Angular 5 support"
Can you tag branch release/5.x.x (to support angular 5) .

[2018-05-22 16:11] Stabzs commented on #168
https://github.com/Stabzs/Angular2-Toaster/releases/tag/5.1.0

[2018-05-22 16:11] #168 closed

[2018-05-24 13:01] #163 closed

[2018-05-28 09:02] dgsqrs opened #169 "Angular ErrorHandler"
Hi there
This is not a bug but a feature/example request.

I have a custom ErrorHandler. My custom implementation is very simple, it implements the interface ErrorHandler and overwrite the handleError(error) method.
Because the ErrorHandler does not operate in a Angular Zone, the toasts don't show up correctly. I found the way to do it here : https://stackoverflow.com/questions/44975477/angular2-n

[2018-05-29 02:37] Stabzs commented on #169
Thank you for opening this. This is a common “complaint” and having a definitive solution is an excellent thing.

I’ll add an example to both the angular-cli app and the documentation.

[2018-06-13 07:58] ridj87 opened #171 "closes on hover when using global timeout settings"
When i specify for example :
  public toasterConfig: ToasterConfig = new ToasterConfig({
    timeout: {error: 0}
  });

The toast is sticky but as soon as i hover over the toast it dissapears. It this intentional ?

Thing to note here is that i am using following versions of angular:
   "angular/animations": "5.1.0",
    "angular/common": "5.1.0",
    "angular/compiler": "5.1.0",
    "angular/core

[2018-06-13 08:31] #171 closed

[2018-06-14 08:45] karthikeyan-Tamilan opened #172 "display issue when using bootstrap tabs in Angular 5"
when using tabs view in a page(for example 4 tabs), each tab has different forms. when I fill and save the form in default active tab when page loads, the toaster gets display message like (save successfully).

If I do the same in the other forms in the 2nd,3rd and last form(tab) means the toaster gets display in the first tab only. It doesn't display according to tab which is  active.

[2018-06-15 03:45] Stabzs commented on #172
Without seeing your implementation, it is really difficult to point you in the right direction.  Are you using a container per tab?  Are you using a single container that sits externally of the tabs?

There is nothing in the library that will manage your tab/toast relation automatically.  You would need to manage that state and target the appropriate container.

[2018-06-15 04:04] karthikeyan-Tamilan commented on #172
Below is my sample code i tried..
I just show the component view (<app-form1></app-form1>) inside the tab div.
<app-form1></app-form1>
<app-form1></app-form1>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>

[2018-06-15 04:32] Stabzs commented on #172
It isn't clear what you are trying to do.  You don't have a `<toaster-container>` instance in the above example.

[2018-06-15 05:18] karthikeyan-Tamilan commented on #172
I used below code display toaster. I m not put <toaster-container> in the html file. Do I need to put the tag <toaster-container> compulsory (to mention which place the toaster should be shown on the page)?

`import { Component, OnInit, ViewEncapsulation, ViewContainerRef } from '@angular/core';`
`@Component({
  selector: 'app-account-settings',
  templateUrl: './account-settings.component.html',

[2018-06-21 12:58] #169 closed

[2018-06-21 12:59] Stabzs commented on #169
This has been added as part of the 6.1.0 release.

[2018-07-04 13:47] starkpratik opened #174 "Request for Angular Universal Support"
Hello, it seems a great library to have but just to know if this is supporting angular universal?
This will be a great feature to have.

[2018-07-04 17:31] Stabzs commented on #174
With the exception of animations (which seems to be an issue with angular core) the library works just fine.  Is there a particular behavior that you have observed that is incompatible?

[2018-07-05 10:14] starkpratik commented on #174
I'm using angular 4 can you let me know which version is supported as it is giving me version compatibility error. Angular 4.2.4

[2018-07-05 17:19] Stabzs commented on #174
While I would not recommend using anything less than Angular 6 and the latest `angular2-toaster` builds/releases, you can target the last 4.x.x pinned release: https://unpkg.com/angular2-toaster@4.0.2/

[2018-07-05 17:19] #174 closed

[2018-07-19 18:04] max-SS commented on #160
could you share the solution?

[2018-07-22 04:43] chakri1986 opened #175 "Why does toaster service inside Global Error Handler wont work in Angular4/5/6?"
My requirement is to load some data by calling Two Rest Api's before app component loads [First step].If API gives any error display the message in Toaster (angular2-toaster) from Global Error Handler

![image](https://user-images.githubusercontent.com/36687981/43042285-69cdaf64-8d97-11e8-9465-63c51f291ae7.png)

![image](https://user-images.githubusercontent.com/36687981/43042291-8f8acc1e-8d97-11e

[2018-07-22 05:11] Stabzs commented on #175
This is an interesting problem and not typically a recommended approach. Is it possible for you to create a repo that demonstrates the problem? It would be very helpful.

[2018-07-22 05:33] chakri1986 commented on #175
I will try to create a Repo, but what would be the recommended approach ? Can you pls suggest me.

[2018-07-22 13:45] Stabzs commented on #175
If you could create a sample barebones app (and even host it on GitHub) that demonstrates the behavior that would make it much easier to reproduce. While I appreciate the screenshots, it will be difficult for me to exactly reproduce your scenario and actual code would be very helpful.

[2018-08-06 00:33] Stabzs commented on #175
If you can provide a reproduction I’ll be happy to reopen the issue.

[2018-08-06 00:33] #175 closed

[2018-08-07 14:48] crissty opened #176 "BodyOutputType Component"
Hi,
Fisrt, congratulations for this component, it is powerful and simple.
It is possible to see a example of Toastr with BodyOutputType.Component? This is a little confuse for me.

Thanks!!

[2018-08-19 07:39] jcheros opened #177 "BodyOutputType Component and EventEmitter"
Hello!
I have a Component to show an undo button and I need to update the parent view. How could I use an EventEmitter in my Component to call **loadItem** function?

**_toast-undo.component.ts_**
[code]

**_proyectos-menu.component.ts_**
[code]

**_notification.service.ts_**
[code]
**_app.component.ts_**
[code]

[2018-08-20 21:13] anthony-sap commented on #76
any progress on this?

[2018-08-24 14:31] ArnaudPel commented on #120
More than a year later, I finally made the change, seems to work fine indeed.
Many thanks :)

[2018-08-24 14:38] Stabzs commented on #120
@ArnaudPel heh, thanks for getting back to me :).  Glad it worked as intended.

[2018-10-01 19:39] benhaynie opened #178 "Unable to configure TapToDismiss on a Toast by Toast basis"
In my application, I want to be able to tapToDismiss some Toast messages, and not enable this property on other messages.  For example, one Toast message may include a link for the user to click on.  On these messages, I want to disable the tapToDismiss.  On other Toast messages, I want to be able to tapToDismiss.

Prior to version 5, there was a ToastConfiguration property on the Toast object.  T

[2018-10-13 08:13] praveen-238 opened #179 "Toast not showing until click on layout when using with ng-bootstrap Modal"
I am using a modal from ng-bootstrap. When I create a toast while the modal is still open but in the process of being closed using this.toastrService.popAsync('Error') this toast does not show up until I click somewhere on the page.

[2018-10-13 13:43] Stabzs commented on #179
Are you able to create a minimal example that demonstrates the problem by chance?  Thanks!

[2018-10-15 13:36] #179 closed

[2018-10-24 08:12] Augustpi opened #180 "Angular 7 - peerDependencies"
Library peerDependencies should be updated

[2018-10-24 08:17] HZooly commented on #165
Hello @Stabzs, any progression on it ? 🤗

[2018-10-26 05:28] #180 closed

[2018-11-04 06:20] mstmvd opened #181 "Support Angular 7"
Please add support to angular 7.

[2018-11-06 23:44] natcohen commented on #181
I am getting the following error with Angular 7:

[code]

Is it something that should be addressed for Angular 7 or is it an issue I am having? Did anyone experienced the same problem?

[2018-11-17 19:16] maxan commented on #181
I'm using the Toaster with the latest version of the Angular. Have you ever faced some problem?

[2018-11-17 23:28] #181 closed, assigned to nobody

[2018-11-17 23:29] Stabzs commented on #181
This is now released under version 7.0.0, although the previous version should have worked just fine.  Apologies for the delay!

[2018-12-15 06:09] Iam-surendra opened #183 "karma unit tests fail with 'No Toaster Containers have been initialized to receive toasts'"
i defined container in app component which is the root component of my application, its working fine.

when it comes to the unit tests component level spec file doesn’t get the toaster container instance that we are specified in the app component.

We are getting following error for all the components that are used toasters.

**No Toaster Containers have been initialized to receive toasts.**

its

[2018-12-15 06:30] Stabzs commented on #183
There are a number of test examples in the repository.  It might be helpful for you to review those tests and see if it helps

If you can create a minimal reproduction I'd be happy to look at it.

[2018-12-25 20:47] #183 closed

[2019-01-25 15:06] NathenSample opened #184 "Maintain notification position whilst scrolling"
Hi there,

I'm running into an issue which is much more likely to be PEBKAC than it is to be an actual problem with the library, but hoping to get some advice nonetheless.

When using angular-toastr  I'm able to set the position of the toast to appear in the top right, when I scroll down a page this position is maintained and the notification remains, in the top right.

However, when using angular

[2019-01-25 15:56] Stabzs commented on #184
To clarify a few things...

This is `angular2-toaster`, not `angular2-toastr`.  If you are using `angular2-toastr` you have the wrong repo.

The `#toast-container` is position fixed meaning it will remain in the same position regardless of how you scroll.  As a result, the toast shouldn't be moving as you scroll but rather it should scroll with you.  You can see a demo of this functionality in a s

[2019-01-25 17:39] rmeshksar commented on #176
I created an example of using Angular component as body in toaster here. Hope it helps:

https://stackblitz.com/edit/angular-1ghfmd

[2019-01-25 17:44] Stabzs commented on #176
@rmeshksar  thanks for making an example!

[2019-01-25 17:44] #176 closed

[2019-01-25 17:47] Stabzs commented on #177
Apologies for the very delayed response.

This isn't exactly relevant to the library itself and is more of a generic angular question. The problem is that the toast essentially sits outside your component.  Typically you'd want to use a shared service that can be subscribed to or central state.

This plunker is out of date, but it does illustrate the concept: http://next.plnkr.co/edit/GC3c9j?p=pre

[2019-01-28 12:00] NathenSample commented on #184
Issue ended up being me being blind, and not spotting that there was indeed a custom CSS rule applying.

Thanks for the assist regardless.

PEBKAC.

[2019-01-28 12:00] #184 closed

[2019-02-14 14:16] rmeshksar opened #186 "Body is not updated when bodyOutputType is TrustedHtml"
When the toast object is created, updating the title and body values of the object should update the toast component.
It works well in default mode and title is working in all cases.
However, when the bodyOutType is TrustedHtml, the body in the component is not getting updated.
It is due to the fact that the trusted html for the body is only calculated in the component initialization phase and not

[2019-02-20 03:28] Stabzs commented on #186
I missed the PR.  Thank you for opening this issue to bring this to my attention and thank you for the contribution.  I will look into it.

[2019-03-22 06:53] zinkalthakker opened #187 "Unit testing"
How to pass unit-test with this plugin? I am getting an error "No Toaster Containers have been initialized to receive toasts." Then I created spy of the service and now i am confused which mock data I have to pass as an object.

[2019-03-25 17:30] rmeshksar commented on #186
Any update on this,

[2019-05-16 11:59] szantogab commented on #179
@praveen-238 @Stabzs any update on this? any workarounds?

[2019-06-04 11:22] alvaro-octal opened #188 "Extend peer dependencies to Angular 8"
**Issue description**

running `npm install` throws the following warning:

[code]
**Steps to reproduce and a minimal demo of the problem**

`npm install` with Angular 8

**Current behavior**

`npm install` shows a couple of warning due to peer dependencies.

**Expected/desired behavior**

No warnings should be shown

[2019-06-11 20:08] preston commented on #188
Yes please!!!

[2019-07-03 16:27] dessalines commented on #188
Same.

[2019-07-08 14:26] #188 closed

[2019-07-08 14:30] maxailloud commented on #188
Did you forget to publish to npm or is it just taking a bit of time to be updated?

[2019-07-08 14:38] Stabzs commented on #188
It has just been published under version 8.0.0.  Thanks everyone for your patience!

[2019-07-08 14:43] maxailloud commented on #188
Perfect thank you.

[2019-08-05 07:39] anjaliTandel20 opened #191 "IE issue | Version 11"
Error-message window is not closing while browsing the file.
ToasterConfig :
{
 positionClass: 'toast-top-right',
 tapToDismiss: true,
 limit: 1
}
![toaster-message-isse](https://user-images.githubusercontent.com/50238696/62447134-3f787080-b782-11e9-9e55-4cafd617ceea.PNG)

[2019-08-05 13:58] #191 closed

[2019-08-05 13:58] anjaliTandel20 commented on #191
Its a browser issue, I think so.

[2019-08-30 13:15] philjones88 opened #192 "Close button position off"
In Firefox on the plunkr:

<img width="363" alt="image" src="https://user-images.githubusercontent.com/677167/64023549-78f98d00-cb30-11e9-9b15-5908ed5e9939.png">

In Chrome on the plunkr

<img width="438" alt="image" src="https://user-images.githubusercontent.com/677167/64023587-8b73c680-cb30-11e9-8a7e-15aea4a30335.png">

Should it be in the middle of the toast rather than allowed to be in seeming

[2019-10-10 07:49] akymtl opened #193 "Toaster part of DOM but not visible"
![image](https://user-images.githubusercontent.com/8582678/66548880-bc97db80-eb5f-11e9-8d6e-b3f7d92c873e.png)
As we can see the in the image above the toaster is part of the DOM but not visible. I am using this in Angular 8. Following are some screenshots of the code.
![image](https://user-images.githubusercontent.com/8582678/66549016-0680c180-eb60-11e9-945b-a15d00adf9d7.png)
![image](https://user

[2019-10-11 12:48] Porkechebure opened #195 "retarded documentation"
Documentation shows everything.... and not toast types....
error, success and????

LOL this should be the first thing shown after configuration.....

[2019-11-12 17:31] fidian opened #196 "Remaining toasters pop to new location when one is added / removed"
Let's say I used the demo page to make several toasters. The first toast pops into place correctly. Because new toasts go to the top by default, a second toast will be inserted before the first, causing the list to jump down. Likewise, if there are several toasts and the user dismisses one in the middle, the remaining ones jump up after the animation finishes.

I propose adding some additional ani

[2019-11-12 20:26] fidian commented on #195
As a hint to others, the types are defined in [toaster-config.ts](https://github.com/Stabzs/Angular2-Toaster/blob/master/src/toaster-config.ts#L60).

[2019-12-13 07:41] pdotkriz commented on #123
Hey Newan,
I tried in the below
translate.setTranslation('en', {
      INVALID_CREDENTIALS: 'Invalid Credentials'
  });
 this.translate.get('INVALID_CREDENTIALS').subscribe((res: string) => {
      this.toasterService.pop(this.createToast("success", "Success",res));
    });
but unfortunatley pop up shows INVALID_CREDENTIALS not Invalid Credentials
do you have any suggestion ?